{% extends "base.twig" %}

{% block content %}
    <!-- Provided by templates/404.twig -->
    <div class="l-constrain">
      {% include 'components/breadcrumbs.twig' %}
        <section>
            <h1 class="page-title">{{ pll__('Uh-Oh...Page not found!') }}</h1>
            <h2>
                <a href="{{site.url}}">{{ pll__('Return to Homepage') }}</a>
            </h2>
        </section>
    </div>

{% endblock %}
