{% extends "base.twig" %}

{% block content %}
<!-- Provided by archives-briefs.twig -->
<div class="hero hero--narrow hero--brief-archive">
    <h1 class="hero__title">
        <div class="l-constrain">
            {{ __( 'All Briefs', 'gesso' ) }}
        </div>
    </h1>
</div>

<div>
    <div class="facets">
        <div class="l-constrain">
            <div class="l-grid l-grid--facets">
                <div class="l-grid__cell">
                    <div class="facets__col">
                        <div class="facets__heading">{{ __( 'Filter by Category', 'gesso' ) }}</div>
                        {{ function( 'facetwp_display', 'facet', 'facet_brief_categories' ) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="facetwp-template">
        <div class="l-constrain">
            <div class="l-grid l-grid--briefs-landing">
                {% for post in posts %}
                {% set term = TimberTerm(post.brief_tax_category) %}
                {% set flag = TimberTerm(post.brief_tax_stage) %}
                <div class="l-grid__cell l-grid__cell--33">
                    <a href="{{ post.link }}" class="briefs-card">
                        <div class="briefs-card__top" style="background-image:url({{ post.thumbnail.src }})"></div>
                        <div class="briefs-card__bottom">
                            <div class="briefs-card__topic is-{{ term.slug }}">
                                <div class="briefs-card__topic-icon"></div>
                                <div class="briefs-card__topic-text">
                                  {{ term.name }}
                                </div>
                            </div>
                            <div class="briefs-card__meta">
                                <div class="briefs-card__header">{{ post.post_title }}</div>
                            </div>
                        </div>
                        {% if post.brief_tax_stage %}
                          <div class="briefs-card__addon">
                              <div class="briefs-card__flag">{{ flag.name }}</div>
                          </div>
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
