{% extends "base.twig" %}

{% block content %}
    <div class="l-constrain">
        <!-- Provided by templates/archive.twig -->
        <section class="section--archives">
            {% include 'components/breadcrumbs.twig' %}

            <h2 class="page-title">{{ __('Archives: ', 'gesso') }}
                {{ wp_title }}</h2>
            {% include 'templates/components/loop.twig' %}
            {% include 'templates/components/pagination.twig' %}
        </section>
    </div>
{% endblock %}
