{% extends "base.twig" %}

{% block content %}
    <!-- Provided by templates/author.twig -->
    <div class="l-constrain">
        {% include 'components/breadcrumbs.twig' %}
        <section>
            {% if posts %}
                <h2 class="page-title">{{ title }}</h2>
                <div class="author">
                    {% if author.avatar %}
                        <div class="author__image"><img src="{{ author.avatar.abs_url }}" alt="author image"></div>
                    {% endif %}
                    {% if author.description %}
                        <div class="author__description">{{ author.description }}</div>
                    {% endif %}
                </div>
                {% for post in posts %}
                    <div class="post post--type-{{ post.type}} post--display-mode-teaser" id="post-{{ post.ID }}">
                        <h2 class="post__title">
                            <a href="{{ post.link }}">{{ post.title }}</a>
                        </h2>
                        <div class="post__meta">
                            <div class="date">{{ post.date }}</div>
                        </div>
                    </div>
                {% endfor %}
                {% include 'templates/components/pagination.twig' %}
            {% else %}
                <h2 class="page-title">{{ title }}</h2>
                <div class="author">
                    {% if author.avatar %}
                        <div class="author__image"><img src="{{ author.avatar.abs_url }}" alt="author image"></div>
                    {% endif %}
                    {% if author.description %}
                        <div class="author__description">{{ author.description }}</div>
                    {% endif %}
                </div>
                <section>
                    <p>{{ __('Sorry, Nothing to Display ','gesso') }}</p>
                </section>
            {% endif %}
        </section>
    </div>

{% endblock %}
