  {% block html_head_container %}
    {% include 'html-header.twig' %}
  {% endblock %}

  {% block page_header %}
    {# This is where you would stick another header, if different than #}
    {{ function('get_header') }}
  {% endblock %}

  <!-- Provided by templates/base.twig -->
  <body {{ function('body_class')}}>

    {% block skiplinks %}
      <div class="skiplinks">
        <a href="#main" class="skiplinks__link focusable">Skip to main content</a>
      </div>
    {% endblock %}

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}

    <main id="main" class="main" role="main" tabindex="-1">
      {% block content %}{% endblock %}
    </main>

    {% block footer %}
      {% include 'footer.twig' %}
      {{ function('wp_footer') }}
    {% endblock %}

  </body>
</html>
