<!-- Provided by templates/footer.twig -->
<footer class="footer" role="contentinfo">
  <div class="footer__top">
    <div class="l-constrain">
      <div class="l-grid l-grid--footer">
        <div class="l-grid__cell l-grid__cell--50">
          <div class="footer__logo">
            <a href="{{ site.url }}" class="logo--large">
              <!-- <h1>{{ site.title }}</h1> -->
            </a>
          </div>
        </div>
        <div class="l-grid__cell">
          <nav class="block  block--quicklink-menu" role="navigation">
            <h4 class="block__title">{{ pll__('QUICK LINKS')}} </h4>
          {{ function('gesso_nav', 'quicklink') }}
          </nav>
        </div>
        <div class="l-grid__cell">
          {# function('get_sidebar', 'footer') #}
          {% include 'components/social-links.twig' %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="l-constrain">
      <div class="l-grid l-grid--footer">
        <div class="l-grid__cell">
          <p>&copy; {{ current_year }} Johns Hopkins University, All Rights Reserved.</p>
        </div>
        <div class="l-grid__cell">
          {{ function('gesso_nav', 'footer') }}
        </div>
      </div>
    </div>
  </div>
</footer>
