{% extends "base.twig" %}

{% block content %}

  <!-- Provided by templates/front-page.twig -->

  <!-- Homepage-Hero component -->
  {% include 'templates/components/homepage_hero.twig' %}

  <!-- 3up-Section -- NEWS -->
  <section class="section section--3up">
    <div class="l-constrain">
      <div class="section__title">
        <h3 id="homepage">{{ post.get_field('homepage_news_section_title') }}</h3>
      </div>
      <div class="section__content">
        <div class="l-grid l-grid--three-cards">
          {% for story in post.get_field('homepage_news') %}
            <div class="l-grid__cell">
              <a class="news-card" {% if story.homepage_news_item_url %} href="{{ story.homepage_news_item_url }}" target="_blank" {% endif %}>
                <div class="news-card__top" style="background-image:url({{ story.homepage_news_item_image }})"></div>
                <div class="news-card__bottom">
                  <div class="news-card__caption">{{ story.homepage_news_item_blurb}}</div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- Video component -->
  <div class="banner banner--globe">
    <div class="l-constrain">
      <div class="banner__inner">
        <div class="l-grid l-grid--banner">
          <div class="l-grid__cell">
            <div class="banner__content">
              <h3 class="banner__title">{{ post.get_field('homepage_video_title') }}</h3>
              <div class="banner__text">{{ post.get_field('homepage_video_description') }}</div>
            </div>
          </div>
          <div class="l-grid__cell">
            <div class="banner__video">
              {{ post.get_field('homepage_video') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 3up-Section -- BRIEFS -->
  <section class="section section--grey section--3up">
    <div class="l-constrain">

      <div class="section__title">
        <h3>{{ post.get_field('homepage_hips_briefs_section_title') }}</h3>
      </div>

      <div class="section__content">
        <div class="l-grid l-grid--three-cards">
          {% for brief in post.get_field('homepage_briefs_selection') %}
            {% set term = TimberTerm(brief.brief_tax_category) %}
            {% set flag = TimberTerm(brief.brief_tax_stage) %}
            <div class="l-grid__cell">
              <a href="{{ brief.link }}" class="briefs-card">
                <div class="briefs-card__top" style="background-image:url({{ brief.thumbnail.src }})"></div>
                <div class="briefs-card__bottom">
                  <div class="briefs-card__topic is-{{ term.slug }}">
                    <div class="briefs-card__topic-icon"></div>
                    <div class="briefs-card__topic-text">
                      {{ term.name }}
                    </div>
                  </div>
                  <div class="briefs-card__meta">
                    <div class="briefs-card__header">{{ brief.post_title }}</div>

                  </div>
                </div>
                {% if brief.brief_tax_stage %}
                  <div class="briefs-card__addon">
                    <div class="briefs-card__flag">{{ flag.name }}</div>
                  </div>
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="section__footer">

        <a href="/briefs">
          <button class="button">{{ post.get_field('homepage_hip_briefs_button_text') }}</button>
        </a>
      </div>

    </div>
  </section>

  <!-- Organizations Section -->
  <section class="section section--5up">
    <div class="l-constrain">

      <div class="section__title">
        <h5>{{ post.get_field('homepage_partner_organization_section_title') }}</h5>
      </div>

      <div class="section__content">
        <div class="l-grid l-grid--center">
          {% for partner in post.get_field('homepage_partner_organizations') %}
            {% if partner.thumbnail %}
              <div class="l-grid__cell l-grid__cell--20">
                <div class="section__image">
                  <a href="{{ partner.link }}">
                    <img src="{{ partner.thumbnail.src }}" alt="">
                  </a>
                </div>
              </div>
            {% endif %}

          {% endfor %}
        </div>
      </div>

    </div>
  </section>

  <!-- Conversations Section -->
  {% include 'templates/components/conversations.twig' %}

{% endblock %}

{% block sidebar %}{% endblock %}
