<!-- Provided by header.twig -->
<header class="header" role="banner">
  <div class="header__top">
    <div class="l-constrain l-constrain--header">
      <div class="l-grid l-grid--header">
        <div class="l-grid__cell">{{ function('gesso_nav', 'language') }}</div>
        <div class="l-grid__cell">{% include 'templates/components/searchform.twig' %}</div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="l-constrain l-constrain--header">
      <div class="l-grid l-grid--header">
        <div class="l-grid__cell">
          <a href="{{ site.url }}" class="logo">
            <h1>{{ site.title }}</h1>
          </a>
        </div>
        <div class="l-grid__cell">
          {{ function('gesso_nav', 'primary') }}
        </div>
      </div>
    </div>
  </div>
</header>
