<!DOCTYPE html>
<!--[if lt IE 7]>      <html <?php language_attributes(); ?> class="ie6 lt-ie9 lt-ie8 lt-ie7 no-js"> <![endif]-->
<!--[if IE 7]>         <html <?php language_attributes(); ?> class="ie7 lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]>         <html <?php language_attributes(); ?> class="ie8 lt-ie9 no-js"> <![endif]-->
<!--[if IE 9]>         <html <?php language_attributes(); ?> class="ie9 no-js"> <![endif]-->
<!--[if IE 10]>         <html <?php language_attributes(); ?> class="ie10 lt-ie11 no-js"> <![endif]-->
<!--[if IE 11]>         <html <?php language_attributes(); ?> class="ie11 no-js"> <![endif]-->
<!--[if gt IE 11]><!--> <html {{site.language_attributes}} class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="{{site.charset}}" />
		<title>
	    {% if wp_title %}
	      {{ post.title }} | {{ site.name }}
	    {% else %}
	      {{ site.name }}
	    {% endif %}
		</title>
    <link href="{{site.theme.link}}/images/favicon.ico" rel="shortcut icon">
		<meta name="HandheldFriendly" content="true">
	  <meta name="MobileOptimized" content="width">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta http-equiv="cleartype" content="on">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ site.description }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600,700" rel="stylesheet">
		{{ function('wp_head') }}
	</head>
