{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/page-advisors.twig -->
  <div class="l-constrain">
    {% include 'templates/components/breadcrumbs.twig' %}
    <section class="section section--landing-page">
      <h1 class="post__title">{{ post.title }}</h1>

      {% if post.content %}
          <div class="post__content">{{ post.content }}</div>
      {% endif %}
      <div class="l-grid l-grid--gutters l-grid--landing-page">
        {% for advisor in advisors %}
          <div class="l-grid__cell l-grid__cell--25">
            <a class="item" href="{{ advisor.link }}">
              <div class="item__top" {% if advisor.thumbnail %}style="background-image:url({{advisor.thumbnail}})"{% endif %}>

              </div>
              <div class="item__bottom">
                <div class="item__title">{{ advisor.title }}</div>
                <div class="item__description">{{ advisor.advisor_job_title }}</div>
                <div class="item__organization">{{ advisor.advisor_organization }}</div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>

{% endblock %}
