{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/page.twig -->
  <div class="l-constrain">
    {% include 'templates/components/breadcrumbs.twig' %}

  	<article class="post post--type-{{ post.type}} post--display-mode-full" id="post-{{ post.ID }}">
  		<h1 class="page-title">{{ post.title }}</h1>
      <div class="item__description">{{ post.expert_job_title }}</div>
      <div class="item__organization">{{ post.expert_organization }}</div>
  		<div class="post__content">
        {{ post.content }}
      </div>

  	</article>
  </div>

{% endblock %}
