{% extends "base.twig" %}

{% block content %}
<!-- Provided by templates/page-all-briefs.twig -->
<div class="hero hero--narrow" style="background-image:url({{ post.thumbnail.src }});">
    <h1 class="hero__title">
        <div class="l-constrain">
            {{ post.title }}
        </div>
    </h1>
</div>

<div>
    <div class="facets">
        <div class="l-constrain">
            <div class="l-grid l-grid--facets">
                <div class="l-grid__cell">
                    <div class="facets__col">
                        <div class="facets__heading">{{ pll__('Filter by Category') }}</div>
                        {{ function( 'facetwp_display', 'facet', 'facet_brief_categories' ) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="facetwp-template">
        <div class="l-constrain">
            <div class="l-grid l-grid--briefs-landing">
                {% for brief in post.all_briefs %}
                {% set term = TimberTerm(brief.brief_tax_category) %}
                {% set flag = TimberTerm(brief.brief_tax_stage) %}
                <div class="l-grid__cell l-grid__cell--33">
                    <a href="{{ brief.link }}" class="briefs-card">
                        <div class="briefs-card__top" style="background-image:url({{ brief.thumbnail.src }})"></div>
                        <div class="briefs-card__bottom">
                            <div class="briefs-card__topic is-{{ term.slug }}">
                                <div class="briefs-card__topic-icon"></div>
                                <div class="briefs-card__topic-text">
                                    {{ term.title }}
                                </div>
                            </div>
                            <div class="briefs-card__meta">
                              <div class="briefs-card__header">{{ brief.post_title }}</div>
                          </div>
                      </div>
                      {% if brief.brief_tax_stage %}
                      <div class="briefs-card__addon">
                          <div class="briefs-card__flag">{{ flag.name }}</div>
                      </div>
                      {% endif %}
                  </a>
              </div>
              {% endfor %}
          </div>

          <!-- Facet WP Pager -->
          <div class="pagination">
            {# {{ function( 'facetwp_display', 'pager' ) }} #}
        </div>

    </div>
</div>
</div>

{% endblock %}
