{% extends "base.twig" %}

{% block content %}
    <!-- Provided by templates/page-overview.twig -->
    <div class="hero hero--narrow" style="background-image:url({{ post.thumbnail.src }});">
        <h1 class="hero__title">
            <div class="l-constrain">
                {{ post.title }}
            </div>
        </h1>
    </div>
    
    <div class="l-constrain">
        {% include 'components/page-builder-row.twig' %}
        {% include 'components/file-repeater.twig' %}
    </div>
{% endblock %}
