{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/page-partners.twig -->

  <div class="l-constrain">
    {% include 'templates/components/breadcrumbs.twig' %}
    <section class="section section--landing-page">
      <h1 class="post__title">{{ post.title }}</h1>

      {% if post.content %}
        <div class="post__content">{{ post.content }}</div>
      {% endif %}

      <div class="l-grid l-grid--landing-page">
        {% for partner in partners %}
          <div class="l-grid__cell l-grid__cell--33">
            <a class="item" href="{{ partner.link }}">
              <div class="item__top" {% if partner.thumbnail %}style="background-image:url()"{% endif %}>
                <img src="{{partner.thumbnail}}" alt="">
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>

{% endblock %}
