{% extends "base.twig" %}

{% block content %}
<div class="l-constrain">
    <!-- Provided by templates/search.twig -->
    <section class="section--archives">
        {% include 'components/breadcrumbs.twig' %}

        <h2 class="page-title">{{ pll__('Search results for') }}: 
           {{ function('the_search_query')}} </h2>
        {% include 'templates/components/loop.twig' %}
        {% include 'templates/components/pagination.twig' %}
    </section>
</div>
{% endblock %}
