{% extends "layouts/sidebar.twig" %}

{% block fullwidth %}
    <!-- Provided by templates/single-briefs.twig -->
    {% include 'components/breadcrumbs.twig' %}

{% endblock %}

{% block main %}

    <div class="briefs-detail__wrapper">
        <!-- TAGS -->
        <section class="briefs-tag">
            {% if post.get_field('brief_tax_category') %}
                {% set category = TimberTerm(post.brief_tax_category) %}
                <div class="briefs-tag__label is-{{ category.slug }}">
                    {{ category.name }}
                </div>
            {% endif %}
            {% if post.get_field('brief_tax_stage') %}
                {% set stage = TimberTerm(post.brief_tax_stage) %}
                <div class="briefs-tag__label briefs-tag__label--white">
                    {{ stage.name }}
                </div>
            {% endif %}
        </section>

        <!-- INTRODUCTION -->
        <section class="briefs-title" id="Introduction">
            <h2 class="briefs-title__header">{{ post.title }}{% if post.get_field('brief_subtitle') %}<span>: {{ __( post.get_field('brief_subtitle'))}}</span>{% endif %}</h2>
            {% if post.get_field('brief_intro') %}
                <p class="briefs-title__content">{{ __(post.get_field('brief_intro')) }}</p>
            {% endif %}
        </section>

        {% if post.get_field('brief_hip') %}
            <!-- DEFINITION -->
            <section class="briefs-hip" id="HIP">
                <span>{{ pll__('HIGH IMPACT PRACTICE:')}}</span>{{ __(post.get_field('brief_hip')) }}
            </section>
        {% endif %}

        {% include 'templates/components/brief-hero.twig' %}

        {% include 'templates/components/brief-loop.twig' %}
    </div>
{% endblock %}

{% block sidebar %}
    <nav class="block block--briefs-detail-menu" role="navigation">
        <ul class="nav nav--briefs-detail">
            {% if post.get_field('brief_intro') %}
                <li class="nav__item">
                    <a class="nav__link" href="#Introduction">{{ pll__('Introduction')}}</a>
                </li>
            {% endif %}
            {% if post.get_field('brief_hip') %}
                <li class="nav__item">
                    <a class="nav__link" href="#HIP">{{ pll__('High Impact Practice')}}</a>
                </li>
            {% endif %}
            {% for brief_section in post.get_field('brief_builder_container') %}
                {% if brief_section.acf_fc_layout == 'brief_section_header' %}
                    <li class="nav__item">
                        <a class="nav__link" href="#menu-{{loop.index0}}">{{ __(brief_section.title) }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    {% include 'components/social-links.twig' %}
{% endblock %}
