{% extends "layouts/sidebar.twig" %}

{% block fullwidth %}
  <!-- Provided by templates/single-partners.twig -->
  {% include 'components/breadcrumbs.twig' %}
  <h1 class="post__title">{{ post.title }}</h1>



{% endblock %}

{% block main %}
<section>
  <div class="post__content">
    {{ post.partner_description }}
  </div>
  <a href="{{ post.partner_url}}" target="_blank">{{ pll__('Visit Partner Website') }}</a>
</section>
{% endblock %}

{% block sidebar %}
  {% if post.thumbnail %}
    <div class="item" >
      <div class="item__top" style="background-image:url()">
        <img src="{{post.thumbnail}}" alt="">
      </div>
    </div>
  {% endif %}
{% endblock %}
