{% extends "layouts/sidebar.twig" %}
{# {% extends "base.twig" %} #}

{% block fullwidth %}
  {% include 'components/breadcrumbs.twig' %}
{% endblock %}

{% block main %}
    <!-- Provided by templates/single.twig -->
    {% if function( 'get_post_format' ) %}
      {% include 'post-formats/content-' ~ function( 'get_post_format' ) ~ '.twig' %}
    {% else %}
      {% include 'post-formats/content.twig' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
{% endblock %}
