{% extends "layouts/sidebar.twig" %}

{% block fullwidth %}
    <!-- Provided by templates/single-advisors.twig -->
    {% include 'components/breadcrumbs.twig' %}
    <h1 class="post__title">{{ post.title }}</h1>
{% endblock %}

{% block main %}
    <!-- Provided by templates/single-advisors.twig -->
    <div class="post__content">
        {{ post.advisor_biography }}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="item">
        <div class="item__top" style="{% if post.thumbnail %}background-image:url({{post.thumbnail}}){% endif %}">
            <!-- Insert Image, if necessary -->
        </div>
        <div class="item__bottom">
            <div class="item__title">{{ post.advisor_job_title }}</div>
            <div class="item__description">{{ post.advisor_organization }}</div>
        </div>
    </div>
{% endblock %}
