<section class="figure">
  <div class="figure__label">{{ figureLabel }}</div>
  <div class="figure__title"> {{ figureTitle }}</div>
  <div class="figure__content">{% include 'base-landscape-image' %}</div>
  <div class="figure__caption">
    <span>Caption</span>{{ figureCaption }}
  </div>
</section>
