<form class="search-form" method="get" action="#" role="search">
  <label for="s" class="search-form__label visually-hidden">Search</label>
  <input class="search-form__input" type="search" name="s" placeholder="Enter Search">
  <button class="button search-form__button" type="submit" role="button">Go</button>
</form>
