<section class="section">
  <div class="l-constrain">
    {% if sectionTitle %}
      <div class="section__title"><h3>{{ sectionTitle }}</h3></div>
    {% endif %}

    <div class="section__content">
      {% include 'base-paragraph' %}
    </div>

    {% if sectionTitle %}
      <div class="section__footer">{{ sectionFooter }}</div>
    {% endif %}
    
  </div>
</section>
