<div class="widget">
  <h3 class="widget__title">
    Sidebar Widgets
  </h3>
  <div class="widget__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolorum quos, reiciendis perferendis dicta et itaque, fuga aliquid mollitia beatae magnam cupiditate!
  </div>
</div>
