<div class="breadcrumb" role="navigation" aria-labelledby="breadcrumb-label">
  <!-- <h2 class="breadcrumb__title visually-hidden" id="breadcrumb-label">Breadcrumbs</h2> -->
  {% spaceless %}
  <ul class="nav nav--breadcrumb">
    <li class="nav__item"><a class="nav__link icon--home" href="#">Home</a></li>
    <li class="nav__item"><a class="nav__link" href="#">HIP Briefs</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Community Health Workers</a></li>
  </ul>
  {% endspaceless %}
</div>
