<nav class="block block--briefs-detail-menu" role="navigation">
  <h2 class="visually-hidden block__title">Main menu</h2>
  {% spaceless %}
  <ul class="nav nav--briefs-detail">
    <li class="nav__item"><a class="nav__link" href="#Introduction">Introduction</a></li>
    <li class="nav__item"><a class="nav__link" href="#Definition">Defintion</a></li>
    <li class="nav__item"><a class="nav__link" href="#Background">Background</a></li>
    <li class="nav__item"><a class="nav__link" href="#Why">Why this is important</a></li>
    <li class="nav__item"><a class="nav__link" href="#Impact">Impact</a></li>
    <li class="nav__item"><a class="nav__link" href="#Tips">Tips</a></li>
    <li class="nav__item"><a class="nav__link" href="#Challenges">Challenges</a></li>
    <li class="nav__item"><a class="nav__link" href="#Tools">Tools & Resources</a></li>
    <li class="nav__item"><a class="nav__link" href="#Webinar">Webinar</a></li>
    <li class="nav__item"><a class="nav__link" href="#Citation">Suggested Citation</a></li>
    <li class="nav__item"><a class="nav__link" href="#Acknowledge">Acknowledge</a></li>
    <li class="nav__item"><a class="nav__link" href="#References">References</a></li>
  </ul>
  {% endspaceless %}
</nav>
