<nav class="block block--briefs-landing-menu" role="navigation">
  <h2 class="visually-hidden block__title">Briefs menu</h2>
  {% spaceless %}
  <ul class="nav nav--briefs-landing">
    <li class="nav__item"><a class="nav__link" href="#">ALL HIPS</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Service Delivery</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Social & Behavioral Change</a></li>
    <li class="nav__item"><a class="nav__link" href="#">HIP Enhancement</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Enabling Environment</a></li>
  </ul>
  {% endspaceless %}
</nav>
