<nav class="block block--footer-menu" role="navigation">
  <h2 class="visually-hidden block__title">Footer menu</h2>
  {% spaceless %}
  <ul class="nav nav--footer">
    <li class="nav__item"><a class="nav__link" href="#">Contact Us</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Credits</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Terms and Conditions</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Privacy Policy</a></li>
  </ul>
  {% endspaceless %}
</nav>
