<nav class="block block--language-menu" role="navigation">
  <h2 class="visually-hidden block__title">Main menu</h2>
  {% spaceless %}
  <ul class="nav nav--language">
    <li class="nav__item"><a class="nav__link" href="#">EN</a></li>
    <li class="nav__item"><a class="nav__link" href="#">FR</a></li>
    <li class="nav__item"><a class="nav__link" href="#">ES</a></li>
  </ul>
  {% endspaceless %}
</nav>
