<nav class="block block--primary-menu" role="navigation">
  <h2 class="visually-hidden block__title">Main menu</h2>
  {% spaceless %}
  <ul class="nav nav--primary">
    <li class="nav__item"><a class="nav__link" href="#">Endorsers</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Experts</a></li>
    <li class="nav__item"><a class="nav__link" href="#">About</a></li>
  </ul>
  {% endspaceless %}
</nav>
