<nav class="block  block--quicklink-menu" role="navigation">
  <h4 class="block__title">Quick Links</h4>
  {% spaceless %}
  <ul class="nav nav--quicklink">
    <li class="nav__item"><a class="nav__link" href="#">HIPS</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Endorsers</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Experts</a></li>
    <li class="nav__item"><a class="nav__link" href="#">About</a></li>
  </ul>
  {% endspaceless %}
</nav>
