<nav class="block  block--secondary-menu" role="navigation">
  <h4 class="block__title visually-hidden">High Impact Practices:</h4>
  {% spaceless %}
  <ul class="nav nav--secondary">
    <li class="nav__item"><a class="nav__link" href="#">Evidence</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Briefs</a></li>
  </ul>
  {% endspaceless %}
</nav>
