<nav class="block  block--social-menu" role="navigation">
  <h4 class="block__title">Connect</h4>
  {% spaceless %}
  <ul class="nav nav--social">
    <li class="nav__item"><a class="nav__link nav__link--facebook" href="#">Facebook</a></li>
    <li class="nav__item"><a class="nav__link nav__link--linkedin" href="#">LinkedIn</a></li>
    <li class="nav__item"><a class="nav__link nav__link--twitter" href="#">Twitter</a></li>
    <li class="nav__item"><a class="nav__link nav__link--youtube" href="#">YouTube</a></li>
  </ul>
  {% endspaceless %}
</nav>
