<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #8496c4;"></span>
		<span class="sg-label">blue, 0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #008ead;"></span>
		<span class="sg-label">blue, 1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #054a8e;"></span>
		<span class="sg-label">blue, 2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #030d26;"></span>
		<span class="sg-label">blue, 3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #efeff0;"></span>
		<span class="sg-label">grey, 0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cccccc;"></span>
		<span class="sg-label">grey, 1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3e3f42;"></span>
		<span class="sg-label">grey, 2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #eab76e;"></span>
		<span class="sg-label">brown, 0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bb7027;"></span>
		<span class="sg-label">brown, 1</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #d70c4d;"></span>
		<span class="sg-label">red, 0</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #ad013e;"></span>
		<span class="sg-label">red, 1 (dark-rose)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #df6308;"></span>
		<span class="sg-label">orange, 0 (bright-orange)</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #c26e20;"></span>
    <span class="sg-label">orange, 1 (dark-orange)</span>
  </li>
  <li>
		<span class="sg-swatch" style="background: #018d72;"></span>
		<span class="sg-label">green, 0 (darker-green)</span>
	</li>

</ul>
