<h3>2 grid 50/50</h3>
<div class="l-grid">
  <div class="l-grid__cell">{% include 'components-filler-div' %}</div>
  <div class="l-grid__cell">{% include 'components-filler-div' %}</div>
</div>

<h3>2 grid 66/33</h3>
<div class="l-grid">
  <div class="l-grid__cell">{% include 'components-filler-div' %}</div>
  <div class="l-grid__cell l-grid__cell--33">{% include 'components-filler-div' %}</div>
</div>

<h3>3 column grid 25/25/50</h3>
<div class="l-grid">
  <div class="l-grid__cell">{% include 'components-filler-div' %}</div>
  <div class="l-grid__cell">{% include 'components-filler-div' %}</div>
  <div class="l-grid__cell l-grid__cell--50">{% include 'components-filler-div' %}</div>
</div>

<h3>4 grid w/ Gutters</h3>
<div class="l-grid l-grid--gutters">
  <div class="l-grid__cell">{% include 'components-filler-div' %}</div>
  <div class="l-grid__cell">{% include 'components-filler-div' %}</div>
  <div class="l-grid__cell">{% include 'components-filler-div' %}</div>
  <div class="l-grid__cell">{% include 'components-filler-div' %}</div>
</div>
