<div class="l-header">
  <div class="l-header__top"><div class="pl-filler">Top</div></div>
  <div class="l-header__menu"><div class="pl-filler">Menu</div></div>
  <div class="l-header__logo"><div class="pl-filler">Logo</div></div>
  <div class="l-header__bottom"><div class="pl-filler">Bottom</div></div>
</div>

<p>Using Grid layout</p>
<div class="l-grid">
  <div class="l-grid__cell l-grid__cell--66">{% include 'components-filler-div' %}</div>
  <div class="l-grid__cell l-grid__cell--33">{% include 'components-filler-div' %}</div>
  <div class="l-grid__cell l-grid__cell--33">{% include 'components-filler-div' %}</div>
  <div class="l-grid__cell l-grid__cell--66">{% include 'components-filler-div' %}</div>
</div>
