<div class="l-logo-grid">
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
    <div class="l-logo-grid__cell">{% include 'components-filler-div' %}</div>
</div>
