.nav--footer {
  justify-content: flex-start;
  .nav__item {
    border-right: 1px solid #fff;
    &:last-child {
      border-right: none;
    }
    flex: 0 1 auto;
    margin-right: 10px;
    padding-right: 10px;
  }
  .nav__link {
    color: #fff;
    &:hover,
    &:active,
    &:focus {
      color: get-color(blue, 0);
    }
  }
}
