.nav--briefs-detail {
  background-color: get-color(grey, 0);
  flex-direction: column;
  display: none;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    display: flex;
  }
  .nav__item {
    flex: 0 1 auto;
  }
  .nav__link {
    color: $color-text-primary;
    border-bottom: 1px solid white;
    display: block;
    font-family: $header-font-family;
    font-size: 16px;
    font-weight: 500;
    padding: em(19px) em(24px);
    &:hover {
      background-color: get-color(blue, 1);
      color: #fff;
    }
  }

  .mPS2id-clicked {
    // background-color: get-color(blue, 2);
    // color: #fff;
  }


  .mPS2id-highlight {
    background-color: get-color(blue, 2);
    color: #fff;
  }

  .active {
    // background-color: get-color(blue, 1);
    // a {
    //   color: #fff;
    // }
  }

}
