// @file
// Styles for the main menu.

.nav--language {
  // display: none;
  @include breakpoint(100px) {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    float: right;
    height: 40px;
    margin: 0;
  }

  .nav__item {
    border-right: 1px solid #FFF;
    flex: 1 1 auto;
    height: 100%;
    width: 40px;
  }

  .nav__link {
    align-items: center;
    color: #FFF;
    display: flex;
    height: 100%;
    justify-content: center;
    font-size: em(16px);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: #FFF;
      background-color: lighten(get-color(blue, 1), 0);
    }
  }
  @media print {
    display: none;
  }
  .briefs-hero & {
    .nav__item {
      border-right: none;
    }
    .nav__link {
      color: #FFF;
    }
  }
}
