.nav--breadcrumb {
  display: inline-block;
  font-size: rem(14px);
  line-height: 24px;
  margin: 0;
  // padding: 1rem 0;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    // padding: rem(45px) 0;
  }
  .nav__item {
    float: left;
    margin-right: 10px;

    &:after {
      content: '>>';
      margin-left: 7px;
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
  .nav__link {
    color: get-color(grey, 2);

    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
