.nav--briefs-language {
  margin: 0;
  padding: 0 rem(10px);

  .nav__item {
    float: left;
    border-right: 1px solid get-color(blue, 2);
    &:last-child {
      border-right: none;
    }
  }
  .nav__link {

  }
}
