$socialIcons: facebook, linkedin, twitter, youtube;

.nav--social {
  display: inline-block;
  .nav__item {
    float: left;
    padding-right: 10px;
  }
  @each $socialIcon in $socialIcons {
    .nav__link--#{$socialIcon} {
      @include image-replace(40px, 40px);
      @include svg-background(social--#{$socialIcon});
      background-repeat: no-repeat;
      display: block;
      &:hover,
      &:focus {
        transform: scale(1.1);
      }
    }
  }

}
