.nav--primary {
  display: none;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  .nav__item {
    flex: 0;
    text-align: right;
    flex-basis: auto;
    padding-left: rem(30px);
    white-space: nowrap;
  }
  .nav__link {
    color: get-color(blue, 2);
    font-size: 0.8rem;
    min-width: inherit;
    text-transform: uppercase;
    @include breakpoint(1000px, $no-query: true) {
      font-size: 1rem;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

}
