// @file
// Styles for the main menu.

.nav--secondary {
  display: none;
  @include breakpoint($bp-hide-mobile-menu) {
    display: flex;
    height: 40px;
    justify-content: flex-end;
    margin: 0;
  }
  .nav__item {
    flex: 1 1 auto;
    height: 100%;
    text-align: right;
    &:last-child {
      padding-right: 0;
    }
    @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
      padding-right: 10px;
    }
    @include breakpoint(850px, $no-query: true) {
      padding-right: 30px;
    }

  }
  .nav__link {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: em(16px);
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: get-color(grey, 1);
    }
  }

  @media print {
    display: none;
  }
}
