.nav--briefs-landing {
  display: inline-block;
  min-height: 60px;
  .nav__item {
    float: left;
    // margin: 15px;
    padding: 10px;
    width: 100%;
    @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
      width: inherit;
      &:first-child {
        margin-left: -10px;
      }
    }
  }
  .nav__link {
    color: $color-text-primary;
    &:hover,
    &:focus {
      border-radius: 10px;
      color: #fff;
      background-color: get-color(blue, 1);
      padding: 10px;
    }

  }
}
