.nav--quicklink {
  flex-direction: column;

  .nav__item {
    height: 40px;
    flex: 1 0 auto;
  }
  .nav__link {
    color: #fff;
    text-transform: uppercase;
    &:hover,
    &:active,
    &:focus {
      color: get-color(blue, 0);
    }
  }
}
