.l-columns {
  display: flex;
  flex-flow: row nowrap; }

.l-columns--25 {
  flex: 0 0 25%; }

.l-columns--33 {
  flex: 0 0 33%; }

.l-columns--50 {
  flex: 0 0 50%; }

.-l-columns--66 {
  flex: 0 0 66%; }

/*# sourceMappingURL=l-columns.css.map */