.l-header {
  display: flex;
  flex-wrap: wrap; }

.l-header__top {
  flex: 1 0 auto;
  width: 60%; }

.l-header__menu {
  display: flex;
  flex: 2 0 auto;
  width: 40%; }

.l-header__logo {
  display: flex;
  flex: 1 0 auto;
  width: 40%; }

.l-header__bottom {
  display: flex;
  flex: 2 0 auto;
  width: 60%; }

@media (max-width: 700px) {
  .l-header__top {
    width: 100%;
    display: none; }
  .l-header__menu {
    width: 100%;
    order: -1; }
  .l-header__logo {
    flex: 1 0 auto; }
  .l-header__bottom {
    flex: 1 0 auto;
    width: 100%; } }

/*# sourceMappingURL=l-header.css.map */