{% include "layouts-header-region" %}
{# include "layouts-navigation-region" #}

<main id="main" class="main" role="main" tabindex="-1">
    <div class="l-sidebars">
      <!-- Fullwidth -->
      <div class="l-sidebars__full">
        {% include 'components-hero' %}
        {% include "components-section--maximizing-impact" %}
        {% include "components-banner--globe" %}
        {% include "components-section--featured-hips" %}
        {% include "components-section--endorsing" %}
        {% include "components-conversation" %}
      </div>

      <!-- Main -->
      <div class="l-sidebars__main">

      </div>

      <!-- Sidebar -->
      <div class="l-sidebars__sidebar">

      </div>

    </div>
</main>

{% include "layouts-footer-region" %}
