{% include "layouts-header-region" %}
<main id="main" class="main" role="main" tabindex="-1">
    <div class="l-constrain">
        <div class="l-sidebars">

            <!-- Full Header-->
            <div class="l-sidebars__full">
                {% include "components-breadcrumb" %}
            </div>

            <!-- Main -->
            <div class="l-sidebars__main">
                {% include "components-page-title" %}
                <p class="paragraph__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis modi impedit, illum commodi quia, dolores, harum quam libero accusantium dolor maxime molestias porro eos ad perferendis. Consequatur voluptate, eveniet,
                    fuga incidunt numquam dolore quidem ad aperiam labore velit similique. Mollitia voluptatem odio consequatur, quo a minus ratione recusandae dolor excepturi.</p>
                {% include "components-paragraph" %}
                {% include "components-figure" %}
                {% include "components-paragraph" %}
                {% include "components-figure" %}
            </div>

            <!-- Sidebar -->
            <div class="l-sidebars__sidebar" role="complementary">
                <div class="l-sidebars__sidebar-inner">
                    {% include "components-widget" %}
                    {% include "components-social-menu" %}
                </div>
            </div>
            {% include 'components-pager' %}
        </div>
    </div>
</main>

{% include "layouts-footer-region" %}
