{% include "layouts-header-region" %}
<div class="l-constrain">
  <div class="l-sidebars">
    <!-- Full Header-->
    <div class="l-sidebars__full">
      {% include "components-breadcrumb" %}
    </div>

    <!-- Main Region -->
    <div class="l-sidebars__main">
      <div class="briefs-detail__wrapper">
        {% include "components-briefs-title" %}
        {% include "components-briefs-definition" %}
        {% include "components-briefs-hero" %}
        {% include "components-paragraph" %}
        {% include "components-quote" %}
        {% include "components-briefs-table" %}
        {% include "components-tools" %}
        {% include "components-figure" %}
        {% include "components-briefs-references" %}
      </div>
    </div>

    <!-- Sidebar Region -->
    <aside class="l-sidebars__sidebar" role="complementary">
      <div class="l-sidebars__sidebar-inner">
        {% include "components-briefs-detail-menu" %}
        {% include "components-social-menu" %}
      </div>
    </aside>
  </div>
</div>
{% include "layouts-footer-region" %}
