<div class="page page--briefs-landing">

  {% include "layouts-header-region" %}

    <div class="l-sidebars">

        <!-- Full Header-->
        <div class="l-sidebars__full">
            <div class="page__hero">
                {% include "components-hero--narrow" %}
            </div>
        </div>

        <!-- Main -->
        <div class="l-sidebars__main">
            <div class="l-constrain">
                <div class="page__body">
                    {% include "components-facets" %}
                    <div class="l-grid l-grid--gutters">
                        <div class="l-grid__cell l-grid__cell--33">{% include 'components-briefs-card' %}</div>
                        <div class="l-grid__cell l-grid__cell--33">{% include 'components-briefs-card' %}</div>
                        <div class="l-grid__cell l-grid__cell--33">{% include 'components-briefs-card' %}</div>
                        <div class="l-grid__cell l-grid__cell--33">{% include 'components-briefs-card' %}</div>
                        <div class="l-grid__cell l-grid__cell--33">{% include 'components-briefs-card' %}</div>
                        <div class="l-grid__cell l-grid__cell--33">{% include 'components-briefs-card' %}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <!-- <div class="l-sidebars__sidebar" role="complementary">

    </div> -->

    </div>

    {% include "layouts-footer-region" %}</div>
