// @file
// Default styling of html elements.

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  // Universal transitions
  transition-duration: 0.2s;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-timing-function: linear;
}

a {
  background-color: transparent;
  color: $color-link;
  word-wrap: break-word;
  // Improves readability when focused.
  outline-offset: em(2px);
  -webkit-text-decoration-skip: objects

  &:active,
  &:hover {
    outline: 0;
  }

  &:hover,
  &:focus {
    color: $color-link-hover;
  }
}

abbr {
  &[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }

  &:hover {
    cursor: help;
  }
}

address {}

article {}

aside {}

audio {
  &:not([controls]) {
    display: none;
    height: 0;
  }
}

b {}

blockquote {
  margin: 0 1.5em rem($vertical-spacing);
}

body {
  background-color: $color-body;
  color: $color-text-primary;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

// Don’t style button elements, since they’re often styled as links for
// accessible widgets. Use the .button class in partials/components/buttons.
button {
  overflow: visible;
}

canvas {
  display: inline-block;
}

caption {
  margin-bottom: rem($vertical-spacing / 2);
}

cite {}

code {}

col {}

colgroup {}

datalist {}

dd {
  margin-bottom: rem($vertical-spacing);
}

del {}

details {}

dfn {
  font-style: italic;
}

dl {
  margin: 0 0 rem($vertical-spacing);
}

dt {}

em {}

embed {}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

figcaption {}

figure {
  margin: 0 0 rem($vertical-spacing);
}

footer {}

form {}

%hN {
  @extend %header-font-family;
  color: inherit;
  font-weight: 200;
  hyphens: none;
  line-height: 1.2;
  margin: 0 0 rem($vertical-spacing);
  text-rendering: optimizeLegibility;
}

h1,
%h1 {
  @extend %hN;
  font-size: em($font-size-xxxl);
  margin-bottom: 0.5em;
}

h2,
%h2 {
  @extend %hN;
  font-size: em($font-size-xl);
}

h3,
%h3 {
  @extend %hN;
  font-size: em($font-size-lg);
}

h4,
%h4 {
  @extend %hN;
  font-size: em($font-size-md);
}

h5,
%h5 {
  @extend %hN;
  font-size: em($font-size-sm);
}

h6,
%h6 {
  @extend %hN;
  font-size: em($font-size-xs);
  font-weight: 400;
  text-transform: uppercase;
}

header {}

hr {
  border: 1px solid $color-text-secondary;
  box-sizing: content-box;
  height: 0;
  margin: rem($vertical-spacing) 0;
  padding-bottom: -1px;
}

html {
  @extend %base-font-family;
  box-sizing: border-box;
  font-size: 100% * ($base-font-size / 16px);
  line-height: $base-line-height;
  min-height: 100%;
  text-size-adjust: 100%;
}

i {}

iframe {
  border: 0;
}

img {
  border: 0;
  font-style: italic; // Makes alt text stand out from surrounding text.
  height: auto;
  max-width: 100%;
}

// Don't style button, submit, or reset elements, since they're often styled as
// links for accessible widgets. Use the .button class in
// partials/components/buttons.
input {
  line-height: normal;
}

input[type='button'] {}
input[type='checkbox'] {}
input[type='color'] {}
input[type='date'] {}
input[type='datetime'] {}
input[type='datetime-local'] {}
input[type='email'] {}
input[type='file'] {}
input[type='image'] {}
input[type='month'] {}
input[type='number'] {}
input[type='password'] {}
input[type='radio'] {}
input[type='range'] {}
input[type='reset'] {}
input[type='search'] {}
input[type='submit'] {}
input[type='tel'] {}
input[type='text'] {}
input[type='time'] {}
input[type='url'] {}
input[type='week'] {}

ins {}

kbd {}

label {}

legend {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  display: table;
  margin: 0;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

li {
  margin-bottom: rem($vertical-spacing / 2);

  &:last-child {
    margin-bottom: 0;
  }
}

main {}

mark {
  background: #ff0;
  color: #000;
}

menu {}

menuitem {}

meter {}

nav {}

object {}

ol {
  margin: 0 0 rem($vertical-spacing);
  padding: 0 0 0 1.5em; // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding: 0 1.5em 0 0;
    }
  }

  ol,
  ul {
    margin: rem($vertical-spacing / 2) 0 0;
  }
}

optgroup {
  font-weight: bold;
}

option {}

output {}

p {
  margin: 0 0 rem($vertical-spacing);
}

param {}

pre {
  margin: 0 0 rem($vertical-spacing);
  overflow: auto;
}

progress {}

q {}

s {}

samp {}

section {
  margin-bottom: 2rem;
}

select {}

small {
  font-size: em($font-size-sm);
}

strong {}

sub {
  bottom: -0.25em;
}

summary {
  display: list-item;
}

sup {
  top: -0.5em;
}

svg {
  &:not(:root) {
    overflow: hidden;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: rem($vertical-spacing);
  min-width: 100%;
}

tbody {}

td {
  background-color: #ffffff;
  border: 1px solid #5b616b;
  padding: rem(15px);
}

textarea {
  overflow: auto;
}

tfoot {
  td,
  th {
    background-color: #f1f1f1;
  }
}

th {
  background-color: #ffffff;
  border: 1px solid #5b616b;
  padding: rem(15px);
  text-align: left;
}

thead {
  td,
  th {
    background-color: #f1f1f1;
  }
}

time {}

tr {}

u {}

ul {
  list-style-type: disc;
  margin: 0 0 rem($vertical-spacing);
  padding: 0 0 0 1.2em; // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding: 0 1.2em 0 0;
    }
  }

  ol,
  ul {
    margin: rem($vertical-spacing / 2) 0 0;
  }
}

var {}

video {}

// Default print styles.
@media print {
  * {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a[href]::after {
    font-family: $base-font-family;
    content: ' <' attr(href) '>';
    font-size: 10pt;
    font-weight: normal;
    text-transform: lowercase;
  }

  // Uncomment and replace example.com with your site’s domain.
  //a[href^='/']::after {
  //  content: ' <http://example.com' attr(href) '>';
  //}

  a[href^='javascript:']::after,
  a[href^='mailto:']::after,
  a[href^='tel:']::after,
  a[href^='#']::after,
  a[href*='?']::after {
    content: '';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  blockquote,
  img,
  li,
  pre,
  tr {
    page-break-inside: avoid;
  }

  h1 a::after,
  h2 a::after,
  h3 a::after,
  h4 a::after,
  h5 a::after,
  h6 a::after {
    display: inline-block;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }

  h2,
  h3,
  h4,
  p {
    orphans: 3;
    widows: 3;
  }

  iframe,
  nav {
    display: none;
  }

  img {
    max-width: 100% !important;
  }

  thead {
    display: table-header-group;
  }

  @page {
    margin: 2cm;
  }
}
