// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$colors: (
  black: (
    0: #000,
  ),
  blue: (
    0: #8496c4,
    1: #008ead,
    2: #054a8e,
    3: #030d26,
  ),
  brown: (
    0: #eab76e,
    1: #bb7027,
  ),
  green: (
    0: #018d72,
  ),
  grey: (
    0: #efeff0,
    1: #cccccc,
    2: #3e3f42,
  ),
  orange: (
    0: #df6308,
    1: #c26e20,
  ),
  red: (
    0: #d70c4d,
    1: #ad013e,
  ),
  white: (
    0: #FFF,
  ),
);

@function get-color($color, $value: 0) {
  @return map-get(map-get($colors, $color), $value);
}

$color-body: #fff;
$color-gradient-dark: rgba(0, 0, 0, 0.1);
$color-gradient-light: rgba(255, 255, 255, 0.1);
$color-link: get-color(blue, 1);
$color-link-hover: #205493;
$color-link-visited: #4c2c92;
$color-selection-background: #dce4ef;
$color-selection-foreground: #212121;
$color-text-primary: get-color(grey, 2);
$color-text-secondary: #054a8e;
$color-border-color: get-color(grey, 1);
$color-drop-shadow: #c3c3c3;
