// @file
// Layout variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

@include breakpoint-set('to ems', true);
$max-page-width: 1200px;
$gutter-width: 2em;
$gutter-width-px: 32px;

// Breakpoints
$bp-hide-mobile-menu: 870px;
