// @file
// Typography variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$base-font-size: 18px;
$base-line-height: 1.2;
$vertical-spacing: $base-font-size; // Used as the default spacing below most items such as paragraphs, lists, etc.
$vertical-spacing-forms: 30px; // Used as the default spacing below form elements.

// Fonts
$system-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
$base-font-family:  'Open Sans', Helvetica, Arial, sans-serif;
$header-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$monospace-font-family: Consolas, 'Lucida Console', 'Liberation Mono', 'Courier New', monospace, sans-serif;

// Typographic Scale
$font-size-xxxl: 60px;
$font-size-xxl: 36px;
$font-size-xl: 30px;
$font-size-fig: 24px;
$font-size-lg: 20px;
$font-size-md: $base-font-size;
$font-size-sm: 16px;
$font-size-xs: 14px;
$font-size-xxs: 11px;
