.banner {
  overflow: hidden;
  padding-bottom: 2rem;
}

.banner__inner {
  position: relative;
  z-index: 3;
}

.banner__title {
  font-size: rem($font-size-xl);
  line-height: rem(47px);
  text-align: center;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    text-align: left;
  }
}

.banner__content {
  font-size: rem(18px);
  line-height: rem(30px);
  padding-right: 0;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    padding-right: 2rem;
  }
  a {
    color: #FFF;
    &:hover,
    &:focus {
      color: get-color(orange, 0);
    }
  }
}

.banner__footer {
  padding: rem(70px) 0;
  text-align: center;
}

.banner--globe {
  background-color: get-color(blue, 2);
  color: white;
  position: relative;
  padding: em(100px) 0;

  &:before {
    background-repeat: no-repeat;
    background-position: 50% 0;
    content: url('../images/globe-bg.png');
    left: 50%;
    top: 10%;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
  }

  .banner__video {
    box-shadow: 3px 3px 3px #333;
    height: 0;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    // text-align: center;
    position: relative;
    @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
      text-align: right;
    }

    embed,
    iframe,
    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
