.block {
}

.block__title {
  text-transform: uppercase;
}

//Header Menu Block
.block--secondary-menu {
  display: none;
  text-align: right;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    display: inline-block;
  }
  .block__title {
    float: left;
    margin: 0;
    text-transform: uppercase;
    // padding-right: 30px;
    display: none;
    @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
      display: block;
    }
  }
}

//Footer Quicklink Block
.block--quicklink-menu {
  .block__title {
    color: get-color(blue, 1);
  }
}

.block--social-menu {
  .block__title {
    color: get-color(blue, 1);
  }
}
