.briefs-hip {
  background-color: get-color(grey, 0);
  color: get-color(blue, 2);
  line-height: rem(26px);
  padding: 1rem;
  margin: 0;
  span {
    float: left;
    font-weight: 700;
    padding-right: 5px;
    font-size: rem(20px);

  }
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    padding: rem(27px) rem(36px);
  }
}
