$card-width: rem(350px);
$title-offset: rem(27px);
$label-color: get-color(blue, 2);

.briefs-card {
  box-shadow: 3px 3px 3px $color-drop-shadow;
  display: flex;
  flex-flow: column wrap;
  // height: 100%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 100%;
  max-width: $card-width;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
  }
  .page-template-page-overview & {
    background-color: get-color(grey,1);
    background-image: url('http://static.ccm2.net/ccm.net/faq/images/pzJX5CJCvfcDDrMKqDBfirYiwrNw4CVnUAkfvng8TEmoUCtv4HN8v4pY3Ip46hTN-pdf-s-.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
}

.briefs-card__top {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 2 0 auto;
  height: 220px;
  max-height: 220px;
}

.briefs-card__bottom {
  background-color: #FFF;
  flex: 2 0 auto;
  padding: 0 1em 1em 1em;
  position: relative;
}

.briefs-card__topic {
  display: flex;
  align-content: stretch;
  flex-flow: row nowrap;
  position: relative;
  margin: 0 auto;
  height: 50px;
  min-height: 50px;
  top: -#{$title-offset};
  &.is-enabling-environment,
  &.is-ambiente-habilitador,
  &.is-environnement-propice {
    background-color: #ad013e;
    .briefs-card__topic-icon {
      background-color: #e38887;
    }
  }
  &.is-social-behavior-change {
    background-color: #0a7b64;
    .briefs-card__topic-icon {
      background-color: #68ba99;
    }
  }
  &.is-hip-enhancement,
  &.is-mejora-de-hip,
  &.is-renforcement {
    background-color: #df6308;
    .briefs-card__topic-icon {
      background-color: #f2ae7c;
    }
  }
  &.is-service-delivery,
  &.is-prestacion-de-servicios,
  &.is-prestation-de-services {
    background-color: #054a8e;
    .briefs-card__topic-icon {
      background-color: #6e80ae;
    }
  }
  &.is-evidence-summary {
    background-color: #666;
    .briefs-card__topic-icon {
      background-color: #999;
    }
  }
}

.briefs-card__topic-icon {
  @include image-replace(24px, 24px);
  @include svg-background(icon--books);
  height: 100%;
  min-width: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.briefs-card__topic-text {
  align-items: center;
  color: white;
  display: flex;
  font-size: em(14px);
  justify-content: center;
  line-height: 1;
  margin: 0;
  width: 100%;
  @include breakpoint(300px, $no-query: true) {
    font-size: em(18px);
  }

}


.briefs-card__meta {
  position: relative;
}

.briefs-card__header {
  color: get-color(blue, 2);
  font-weight: bold;
  line-height: 1.4;
  padding-bottom: em(20px);
}

.briefs-card__caption {
  color: $color-text-primary;
  line-height: em(30px);
  padding-bottom: 1rem;
}

.briefs-card__addon {
  background-color: #fff;
}

.briefs-card__flag {
  border: 1px solid get-color(blue, 1);
  color: get-color(blue,1);
  display: inline-block;
  float: right;
  font-size: rem(14px);
  line-height: 1.1;
  margin: .5rem 1rem;
  padding: 3px 10px;
  text-transform: uppercase;

}
