.briefs-table {
}

.briefs-table__flag {
  background-color: get-color(blue, 1);
  color: #FFF;
  padding: em(8px) em(13px);
  display: inline-block;
  font-size: 1rem;
  line-height: rem(32px);
  text-transform: uppercase;
  margin-bottom: rem(30px);
}

.briefs-table__title {
  color: get-color(blue, 2);
  font-weight: 400;
  font-size: rem(24px);
  padding: .5rem;
}

.briefs-table__table {

  tr, th, td {
    border: 0;
    padding: .5rem;
  }
  th {
    color: get-color(blue, 2);
    font-weight: 600;
    text-transform: uppercase;
  }
  tr {
    border-bottom: 1px solid get-color(grey, 1);
  }
  td:first-child {
    color: get-color(blue, 1);
    font-weight: 600;
  }
}

.briefs-table__caption {
  color: $color-text-primary;
  font-size: rem(16px);
  padding: 1rem .5rem;
  span {
    font-weight: 700;
    padding-right: 10px;
  }
}
