.briefs-tag {
  margin-bottom: 1rem;
}

.briefs-tag__label {
  color: #FFF;
  display: table-cell;
  height: 50px;
  padding: 0 1rem;
  text-transform: uppercase;
  vertical-align: middle;
  &.is-enabling-environment,
  &.is-ambiente-habilitador,
  &.is-environnement-propice {
    background-color: #ad013e;
    .briefs-card__topic-icon {
      background-color: #e38887;
    }
  }
  &.is-social-behavior-change {
    background-color: #0a7b64;
    .briefs-card__topic-icon {
      background-color: #68ba99;
    }
  }
  &.is-hip-enhancement,
  &.is-mejora-de-hip,
  &.is-renforcement {
    background-color: #df6308;
    .briefs-card__topic-icon {
      background-color: #f2ae7c;
    }
  }
  &.is-service-delivery,
  &.is-prestacion-de-servicios,
  &.is-prestation-de-services {
    background-color: #054a8e;
    .briefs-card__topic-icon {
      background-color: #6e80ae;
    }
  }
  &.is-evidence-summary {
    background-color: #666;
    .briefs-card__topic-icon {
      background-color: #999;
    }
  }
}

.briefs-tag__label--white  {
  background-color: #FFF;
  color: get-color(blue, 2);
}
