.briefs__mobile-menu {
  background-color: #fff;
  display: block;
  height: 50px;
  margin-bottom: 1em;
  width: 100%;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    display: none;
  }
}
.briefs__mobile-menu.is-fixed { // Fixed mobile menu
  position: fixed;
  top: 0;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
  z-index: 200;
}
