.briefs-hero {
  .l-grid {
    width: 100%;
    height: inherit;
  }
  .l-grid__cell {

  }
}

.briefs-hero__top {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  position: relative;
}

.briefs-hero__image {
  img {
    width: 100%;
  }
}

.briefs-hero__caption {
  background-color: rgba(get-color(grey, 2), .7);
  bottom: 0;
  color: #FFF;
  font-size: rem(13px);
  line-height: rem(20px);
  padding: 1rem 1rem 1rem 3rem;
  position: absolute;
  width: 100%;
  &:before {
    margin-left: -2rem;
  }
}

.briefs-hero__caption-icon {
  @include image-replace(24px,24px);
  @include svg-background(icon--image);
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin-right: 10px;
}

.briefs-hero__meta {
  background-color: get-color(blue, 2);
  color: #FFF;
  padding: 1em 0;
}

.briefs-hero__button {
  margin: 1rem auto;
  text-align: center;
  @include breakpoint(990px, $no-query: true) {
    padding: 0 1rem;
    text-align: left;
    margin: 0 auto;
  }
}

.briefs-hero__menu {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  p {
    margin: 0;
    font-size: 1rem;
    font-weight: 100;
  }
}

.briefs-hero__related {
  margin: 1rem auto;
  text-align: center;
  @include breakpoint(990px, $no-query: true) {
    margin: 0 auto;
    padding: 0 1rem;
    text-align: right;
  }
  a {
    color: #FFF;
    text-decoration: none;
  }
}
