.briefs-title {

  .briefs-title__header {
    color: get-color(blue, 2);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
      font-size: 36px;
      line-height: rem(57px);
    }
  }

  .briefs-title__content {
    line-height: rem(32px);
    margin: 0;
  }
}
