$white-space: 40px;

.conversation {
  background: linear-gradient(to bottom,white 40px, get-color(blue, 1) 41px);
  color: #FFF;
}

.conversation__content {

}

.conversation__image {
  padding: $white-space 0;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    padding: 0;
  }
}

.conversation__cta {
  font-size: rem($font-size-xl);
  line-height: rem(47px);
  margin: $white-space 0;
  text-align: center;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    font-size: rem($font-size-xxl);
    margin: $white-space 2em;
  }
}

.conversation__image {
  color: get-color(blue, 1);
  margin: $white-space auto;
  text-align: center;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    margin-top: $white-space;

  }
}

.conversation__twitter {

  color: get-color(blue, 1);
  text-align: center;

  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    border-top: 1px solid get-color(blue, 1);
    border-left: 1px solid get-color(blue, 1);
    border-right: 1px solid get-color(blue, 1);
    text-align: left;
  }
  iframe {
    margin-bottom: -3px !important;
  }
}
