.facets {
  background-color: get-color(blue, 2);
  padding: 1rem 2rem;
  .facetwp-facet {
    margin-bottom: 0;
    .fs-wrap {
      width: 325px;
    }
    .fs-dropdown {
      width: 325px;
    }
  }

}
.facets__col {
  text-align: center;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    text-align: left;
  }
}
.facets__heading {
  color: #FFF;
  text-transform: uppercase;
  font-size: rem(14px);
  display: inline-block;
  padding-bottom: rem(10px);
}
