.figure {
}

.figure__label {
  background-color: get-color(blue, 1);
  color: #FFF;
  padding: em(8px) em(13px);
  display: inline-block;
  font-size: 1rem;
  line-height: rem(32px);
  text-transform: uppercase;
  margin-bottom: rem(30px);
}

.figure__title {
  color: get-color(blue, 2);
  font-size: rem(24px);
  line-height: rem(32px);
  margin-bottom: rem(25px);
}

.figure__content {
  img {
    width: 100%;
  }
}

.figure__caption {
  color: $color-text-primary;
  font-size: rem(16px);
  padding: 1rem 0;
  span {
    font-weight: 700;
    padding-right: 10px;
  }
}
