.footer {
  background-color: get-color(blue, 3);
  color: #fff;
  font-size: 16px;
  width: 100%;
}

.footer__top {
  padding: rem(80px) 0;
}

.footer__logo {
  padding-bottom: 3rem;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    padding-bottom: 1rem;
  }
}

.footer__description {
  line-height: rem(30px);
  padding-right: 0;
  padding-bottom: 2em;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    padding-right: rem(100px);
  }
}
.footer__bottom {
  border-top: 1px #ccc solid;
  font-size: 12px;
  padding: em(30px) 0;
}
