.header {
  box-shadow: 0px 4px 3px $color-drop-shadow;
}

.header__top {
  display: none;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    background-color: get-color(blue,2);
    border-bottom: 1px solid get-color(blue, 2);
    color: #FFF;
    display: block;
    height: 40px;
  }
}

.header__bottom {
  background-color: #fff;
  color: get-color(blue,2);
  height: 80px;
}

.header__menu-title {
  display: none;
  font-weight: bold;
  padding-left: 100px;
  text-transform: uppercase;
  white-space: nowrap;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    display: inline-block;
  }
}

.header__bottom-menu {
  display: flex;
  justify-content: flex-end;
}
