.hero {
  @include image-overlay(#333, .8);
  background-image: url(https://placeimg.com/1000/700/any);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px get-color(blue, 1) solid;
  color: #fff;
  position: relative;
  z-index: 1;
  .page-template-page-overview & {
    margin-bottom: 2rem;
  }
}

.hero__meta {
  text-align: center;
  top: 0;
  padding: em(75px) 0 em(30px) 0;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    padding: em(230px) 0 em(90px) 0;
  }
}

.hero__title {
  font-size: em($font-size-xxl);
  padding-bottom: .5em;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    font-size: em($font-size-xxxl);
    padding-bottom: 0;
  }
}

.hero__description {
  display: none;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    display: block;
    padding-bottom: em(16px);
    margin: 0 auto;
    max-width: em(700px);
  }
}
.hero__icon {
  @include image-replace(24px,24px);
  @include svg-background(icon--arrow-down);
  background-color: get-color(blue, 1);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: inline-block;
  height: 48px;
  width: 48px;
  margin-bottom: em(16px);
}
.hero__link {
  font-size: $font-size-xs;
  text-transform: uppercase;
}


.hero--narrow {
  height: 400px;
  .hero__title {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    text-align: center;
  }
}

.hero--brief-archive {
  background-image: url('../images/financing_marquee.jpg');
  background-position: top;
}
