.icon--pdf {
  @include icon-helper(pdf, 24px, 24px);
  &:before {
    top: -3px;
  }
}

.icon--download {
  @include icon-helper(download, 15px, 15px, right);
  &:before {
    top: 3px;
    margin-left: 3px;
  }
}

.icon--image {
  @include icon-helper(image, 24px, 24px);
}

.icon--web {
  @include icon-helper(web, 24px, 24px);
  &:before {
    left: -3px;
    top: -2px;
  }
}

.icon--home {
  @include icon-helper(home, 24px, 24px);
}

.icon--impact {
  &:before {
    content: "Impact";
    color: #FFF;
    background-color: get_color(blue, 1);
    font-size: rem(14px);
    padding: 5px 10px;
    text-transform: uppercase;
  }
}
