$item-image-size: 275px;

.item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  width: 75%;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    width: 100%;
  }

  &:hover {
    & .item__title {
      text-decoration: underline;
    }
  }
}
.item__top {
  background-image: url('../images/blank_headshot.jpg');
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 2 0 auto;
  height: 260px;
  // max-height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  img {
    max-width: 275px;
  }
}

.item__bottom {
  border-top: 5px get-color(blue, 1) solid;
  color: $color-text-primary;
  flex: 2 0 auto;
  padding: 10px;
  position: relative;
}
.item__title {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.item__description {
  font-style: italic;
  font-weight: 100;
  padding: 5px 0;
  text-decoration: none;
}
