.logo {
  @include image-replace(237px,51px);
  @include svg-background(HIP_logo);
  display: block;
  // background-repeat: no-repeat;
  // width: 100%;
}

.logo--large {
  @include image-replace(411px,89px);
  @include svg-background(HIP_logo--large);
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    margin: inherit;
  }

}

.logo--usaid {
  @include image-replace(180px,54px);
  @include svg-background(usaid-logo);
  display: block;
}
