// @file
// Styles for navigation lists.

.nav {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.nav__item {
  margin-bottom: 0;
  flex: 1;
}

.nav__link {
  text-decoration: none;
}

// Extendable styles for an inline nav.
%nav--inline {
  > .nav__item {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
  }
}

// Extendable styles for a pillbox nav.
$pillbox-border-radius: rem(3px) !default;
$pillbox-color-bg: #d6d7d9 !default;
$pillbox-color-bg-active: #212121 !default;
$pillbox-color-bg-disabled: #d6d7d9 !default;
$pillbox-color-bg-hover: #aeb0b5 !default;
$pillbox-color-border: #aeb0b5 !default;
$pillbox-color-text: #212121 !default;
$pillbox-color-text-active: #fff !default;
$pillbox-color-text-disabled: #323a45 !default;
$pillbox-color-text-hover: #f212121 !default;
$pillbox-font-size: $font-size-md !default;

%nav--pillbox {
  @include clearfix;

  .nav__item {
    display: block;
    float: left; // LTR
    margin: 0;

    @if $support-for-rtl {
      [dir='rtl'] & {
        float: right;
      }
    }
  }

  .nav__link {
    @include button(
      $pillbox-color-bg,
      $pillbox-color-text,
      $pillbox-color-bg-hover,
      $pillbox-color-text-hover,
      $pillbox-color-bg-active,
      $pillbox-color-text-active,
      $pillbox-color-bg-disabled,
      $pillbox-color-text-disabled,
      0);
    border-left: 1px solid $pillbox-color-border;
    display: block;
    margin: 0;

    &.is-active {
      background-color: $pillbox-color-bg-active;
      color: $pillbox-color-text-active;
    }
  }

  > .nav__item:first-child > .nav__link {
    border-bottom-left-radius: $pillbox-border-radius; // LTR
    border-left: 0;
    border-top-left-radius: $pillbox-border-radius; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $pillbox-border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: $pillbox-border-radius;
      }
    }
  }

  > .nav__item:last-child > .nav__link {
    border-bottom-right-radius: $pillbox-border-radius; // LTR
    border-top-right-radius: $pillbox-border-radius; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        border-bottom-left-radius: $pillbox-border-radius;
        border-bottom-right-radius: 0;
        border-top-left-radius: $pillbox-border-radius;
        border-top-right-radius: 0;
      }
    }
  }
}

// Extendable styles for a pipeline nav.
$pipeline-border-color: #d6d7d9 !default;

%nav--pipeline {
  @include clearfix;

  .nav__item {
    border-right: 1px solid $pipeline-border-color; // LTR
    display: block;
    float: left; // LTR
    margin-right: 0.75em; // LTR
    padding-right: 0.75em; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        border-left: 1px solid $pipeline-border-color;
        border-right: 0;
        float: right;
        margin-left: 0.75em;
        margin-right: 0;
        padding-left: 0.75em;
        padding-right: 0;
      }
    }

    &.is-active {
      font-weight: bold;
    }

    &:last-child {
      border-right: 0; // LTR
      margin-right: 0; // LTR
      padding-right: 0; // LTR

      @if $support-for-rtl {
        [dir='rtl'] & {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }
}
