.news-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 100%;
  @include breakpoint(500px, $no-query: true) {
    max-width: 400px;
  }
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {

  }
}

.news-card__top {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 9px solid get-color(blue, 2);
  height: 220px;
  flex: 2 0 auto;
  max-height: 220px;

}

.news-card__bottom {
  background-color: get-color(blue, 1);
  color: #fff;
  flex: 2 0 auto;
  position: relative;
}

.news-card__caption {
  font-weight: 700;
  line-height: em(30px);
  padding: 0 rem(45px) rem(45px) rem(45px);
  &:before {
    content: url('../images/double-bars.png');
    display: block;
    padding: rem(25px) 0;
  }
}
