// @file
// Styles for pagers.

$bp-pager: 600px, 'no-query' true;
$pager-bg-color: #fff;
$pager-bg-color-active: get-color(blue, 1);

.pager {
  clear: both;
  list-style: none;
  margin: em($vertical-spacing * 2) 0;
  padding: 0;
  text-align: center;
}

.pager__item {
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;

  &:not([class*=pager__item--]) {
    display: none;

    @include breakpoint($bp-pager) {
      display: inline-block;
    }
  }
}

%pager__link {
  background-color: $pager-bg-color;
  color: #212121;
  min-width: rem(44px);
  padding: em(13px);
}

.pager__item--current {
  @extend %pager__link;
  background-color: $pager-bg-color-active;
  color: #fff;
}

.pager__link {
  @extend %pager__link;
  display: inline-block;
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: lighten($pager-bg-color-active, 5%);
    color: inherit;
    color: #fff;
  }
}
