.paragraph {}
.paragraph__title {
  color: get-color(blue, 2);
  font-size: rem(30px);
  font-weight: 500;
  // line-height: rem(57px);
  margin-bottom: 30px;
}
.paragraph__body {
  line-height: rem(32px);
}
