.post {
  .archive & {
    margin-bottom: 1.25rem;
  }
}

.post__title {
  color: get-color(blue, 2);
  .archive &,
  .search-results & {
    margin-bottom: rem(5px);
  }
}
.post__content {
  line-height: rem(34px);
  padding: 0 0 2rem 0;
}

.post__meta {
  div {
    padding-bottom: 5px;
  }
  .post__date {
    font-size: .75rem;
  }
  .post__type {
    text-transform: capitalize;
  }
  .author {
    margin: 0;
  }
}
