.quote {
  background-color: get-color(blue,2);
}
.quote__body {
  color: #FFF;
  font-size: rem(22px);
  font-style: italic;
  line-height: rem(30px);
  text-align: center;
  padding: rem(20px) 1rem;
  @include breakpoint(700px, $no-query: true) {
    font-size: rem(30px);
    line-height: rem(41px);
    padding: rem(20px) rem(85px);
  }
  &:before {
    content: url('../images/double-bars.png');
    display: block;
    padding-bottom: rem(25px);
  }
}
.quote__cite {
  color: #FFF;
  font-size: rem(18px);
  line-height: rem(22px);
  text-align: center;
  padding-bottom: rem(40px);
}
