.row {
  margin-bottom: 2rem;
}
.row__column {
  line-height: rem(32px);
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    padding-right: 1rem;
  }
}
.row__column--2 {
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    padding-left: 1rem;
  }
}
