.search-form {
  display: none;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    display: flex;
    flex-flow: row nowrap;
  }
}

.search-form__label {
}

.search-form__input {
  border-radius: 0;
  height: 40px;
  width: 300px;
}

.search-form__button {
  border-radius: 0;
  height: rem(40px);
  padding: 0 rem(16px);
}
