.searchbox-svg {
  border-bottom: 1px solid $color-border-color;
  background-color: get-color(blue, 2);
  height: 40px;
  width: 40px;
}

.searchbox-svg__link {
  align-items: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  justify-content: center;
}
