.searchbox {
  position: relative;
}

.searchbox__link {
  @include image-replace(18px, 18px);
  @include svg-background(icon--search);
  display: block;
  background-repeat: no-repeat;
  background-color: get-color(blue, 1);
  background-position: 50% 50%;
  // border-bottom: 1px solid $color-border-color;
  text-align: center;
  width: 40px;
  height: 40px;
  .header--homepage & {
    background-color: get-color(blue, 1);
  }
  &:hover {
    background-color: get-color(blue, 2);
  }
  &.is-open {
    background-color: get-color(blue, 0);
  }
}

.searchbox__dropdown {
  display: none;
  background-color: get-color(blue, 1);
  padding: 0;
  height: 40px;
  position: absolute;
  right: 0;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    // height: auto;
    // padding: 10px 25px;
  }
}
