.section {
  overflow: hidden;
  padding: rem(68px) 0;
}

.section__title {
  color: get-color(blue, 2);
  font-size: rem(44px);
  line-height: rem(67px);
  text-align: center;
  padding: 1rem 0 rem(50px) 0;
}

.section__content {
  line-height: rem(34px);
  padding: 1rem 0 rem(50px) 0;
}

.section__image {
  text-align: center;
}

.section__footer {
  padding: rem(70px) 0;
  text-align: center;
}

.section--grey {
  background-color: get-color(grey, 0)
}

.section--3up {
  .section__footer {
    padding: 2rem 0;
  }
}

.section--5up {
  padding: 2.5rem 0;
  .section__image {
    padding: 15px;
    max-width: 300px;
    margin: 0 auto;
    @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
      max-width: inherit;
      margin: inherit;
    }
  }
}

.section--landing-page {
  padding: 0 0 rem(68px) 0;
}
