.tools {
  background-color: get-color(grey, 0);
}

.tools__title {
  background-color: get-color(blue, 2);
  border-left: 68px get-color(blue, 1) solid;
  color: #fff;
  font-size: rem(16px);
  min-height: 68px;
  line-height: rem(26px);
  overflow: hidden;
  padding: 20px;
  @include breakpoint(400px, $no-query: true) {
    font-size: rem(24px);
    line-height: rem(30px);
  }
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    font-size: rem(34px);
    line-height: rem(40px);
  }
  &:before {
    @include svg-background(icon--books);
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    display: block;
    float: left;
    height: 68px;
    margin: -1rem 10px 0 -88px;
    text-align: center;
    position: absolute;
    width: 68px;
    z-index: 5;

  }
}

.tools__content {
  font-size: rem(18px);
  line-height: rem(27px);
  padding: 1rem;
  @include breakpoint(450px, $no-query: true) {
    padding: rem(35px) rem(90px);
  }
  p:only-of-type,
  p:last-of-type {
    margin: 0;
  }
}
