// @file
// Styles for sidebar widgets

.widget {
  border: 1px #ccc solid;
  margin-bottom: 2rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: rem(22px) rem(18px);
  }
  .footer & {
    border: none;
    ul {
      padding: 0;
    }
  }
}

.widget__title {
  background-color: get-color(blue, 1);
  color: white;
  font-family: $base-font-family;
  font-size: rem(18px);
  font-weight: 100;
  margin: 0;
  padding: rem(22px) rem(18px);
  text-transform: uppercase;
}

.widget__content {
  line-height: rem(26px);
  padding: rem(22px) rem(18px);
}
