<div class="banner banner--globe">
  <div class="l-constrain">

    <div class="banner__inner">
      <div class="l-grid l-grid--banner">
        <div class="l-grid__cell">
          <div class="banner__content">
            <h3 class="banner__title">Section Title. Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
            <div class="banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quae ab quisquam expedita maiores hic, reiciendis quam, magnam aspernatur quas sed! Facilis, est tempora autem ipsa cum id blanditiis laudantium labore aliquid culpa, voluptas et, aliquam deserunt! Amet, fugit, corporis.</div>
          </div>
        </div>
        <div class="l-grid__cell">
            <div class="banner__video">
              {% include 'base-video' %}
            </div>
        </div>
      </div>
    </div>

      <!-- <div class="banner__footer">
        <a href="#">
          <button type="button" name="button" class="button button--banner">{{ sectionButton }}</button>
        </a>
      </div> -->
  </div>

</div>
