<section class="briefs-table">
    <div class="briefs-table__flag">Table 01:</div>
    <h2 class="briefs-table__title">Planning, Implementing, and Scaling-Up CHW Programs</h2>
    <table class="briefs-table__table">
        <tr>
            <th>Program Considerations</th>
            <th>Factors Contributing to Success</th>
            <th>Factors Contributing to Failure</th>
            <th>Considerations for Scale-Up</th>
        </tr>
        <tr>
            <td>General Approach</td>
            <td>Understanding that CHW programs are complex and challenging to sustain.</td>
            <td>Misconception that CHW programs are simple and self-sustaining.</td>
            <td>Plan for scale-up from the begin- ning. Make a systematic plan for scale-up based on country strategy and existing program.</td>
        </tr>
        <tr>
            <td>Ranges of Service</td>
            <td>Broad range of services and commodities that re ect the preferences of the communi- ties served.</td>
            <td>Preoccupation with a single commodity or service result- ing in failure to develop a comprehensive service system.</td>
            <td>Adapt service package to meet community needs.</td>
        </tr>
        <tr>
            <td>Community Involvement & Political Support</td>
            <td>Community involvement, particularly at the strategic planning stage. CHW selec- tion guided by community opinion.</td>
            <td>Lack of broad political support. Responsibility of galvanizing and mobilizing communities rests solely with CHWs.</td>
            <td>Sustain engagement of community and health system with leadership from district and health center staff.</td>
        </tr>
        <tr>
            <td>Sustainability vs. Compensation</td>
            <td>Paid workers perform better than volunteers. Completely voluntary schemes do not work well. If workers are not paid, some other motivational scheme is required, and the scope of work for unpaid volunteers should be realistic.</td>
            <td>Overemphasis on sustainability and cost recovery, which may be incompatible with the objective of reaching poor and remote communities.</td>
            <td>Advocate with governments, donors, and community for support. Provide cost-benefit information. When planning the program, consider costs of scaling-up as well as of maintain- ing the program at scale.</td>
        </tr>
    </table>
    <div class="briefs-table__caption">
        <span>Source:</span>
        Adapted from Chandani et al., 2014; Liu et al., 2011; Phillips et al. 1999; and WHO, 2007.</div>
</section>
