<a href="#" class="briefs-card">
    <div class="briefs-card__top" style="background-image:url('{{ img.card.src }}')">
      {# include 'base-portrait-image' #}
    </div>

    <div class="briefs-card__bottom">
      <div class="briefs-card__topic is-enabling-environment">
        <div class="briefs-card__topic-icon"></div>
        <div class="briefs-card__topic-text">{{ topic|default('HIP Brief Category') }}</div>
      </div>
      <div class="briefs-card__meta">
        <div class="briefs-card__header">{{ header|default('Header of this Card') }}</div>
        <div class="briefs-card__caption">{{ caption|default('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo laboriosam inventore incidunt architecto error molestiae.') }}</div>
      </div>
    </div>
</a>
