<section class="briefs-references paragraph" id="References">
    <h2 class="paragraph__title">References</h2>
    <div class="paragraph__body">
        <p>
            A complete list of references used in the preparation of this brief can be found at:
            <a href="#">https://www.fphighimpactpractices.org/resources/community-health-workers-bringing-family-planning-services-where-people-live-and-work</a>
        </p>

        <p>Achmad SI, Westley SB. Indonesia survey looks at adolescent reproductive health. Asia-Pacific Population & Policy 1999;51:1-4.</p>

        <p>Ahmed Y, Ketata M, Skibiak J. Emergency Contraception in Zambia: Setting a New Agenda for Research and Action. Nairobi: Population Council; 1998.</p>

        <p>Anderson C, Blenkinsopp A. Community pharmacy supply of emergency hormonal contraception: a structured literature review of international evidence. Human Reproduction 2006;21(1):272-84.</p>

        <p>Battersby A, Goodman C, Abondo C, et al. Improving the Supply, Distribution and Use of Antimalarial Drugs by the Private Sector in Tanzania. London: Malaria Consortium; 2003.</p>

        <p>Brieger W, Unwin A, Greer G, Meek S. Interventions to improve the role of medicine sellers in malaria case management for children in Africa. London and Arlington, VA: Malaria Consortium and BASICS for USAID; 2005.</p>

        <p>Bullock J. Raising awareness of emergency contraception. Community Nurse 1997;3(7):28-9.
        </p>
        <p>Center for Pharmaceutical Management. Accredited Drug Dispensing Outlets in Tanzania. Strategies for Enhancing Access to Medicines Program. Prepared for the Strategies for Enhancing Access to Medicines Program. Arlington, VA: Management Sciences
            for Health. 2008.
        </p>
        <p>Centro de Estudios Sociales y Demográficos (CESDEM) y Macro International Inc. Encuesta Socioemográfica y sobre VIH/SIDA en los Bateyes Estatales de la República Dominicana 2007. Santo Domingo, República Dominicana y Calverton, Maryland: CESDEM y
            Macro International Inc., 2008. Available from: http://www.measuredhs.com/pubs/pdf/FR212/FR212.pdf.
        </p>
        <p>Chakrapani V, Kershaw T, Shunmugam M, et al. Prevalence of and barriers to dual-contraceptive methods use among married men and women living with HIV in India. Infectious Diseases In Obstetrics and Gynecology 2011;2011:376-432.
        </p>
        <p>Chin-Quee D, et al. Women’s ability to self-screen for contraindications to combined oral contraceptive pills in Tanzanian drug shops. Int J Gynecol Obstet 2013.
        </p>
        <p>Chuc NT, Larsson M, Falkenberg T, et al. Management of childhood acute respiratory infections at private pharmacies in Vietnam. Ann Pharmacother 2001;16:152-60.
        </p>
        <p>FHI 360. DMPA Sales at Licensed Chemical Shops in Ghana: Increasing Access and Reported Use in Rural and Peri-Urban Communities. Research Triangle Park, NC: FHI 360; 2013.
        </p>
        <p>Grindlay K, Burns B, Grossman D. Prescription requirements and over-the-counter access to oral contraceptives: a global review. Contraception; 7 Dec 2012.
        </p>
        <p>Igun UA. Reported and actual prescription of oral rehydration therapy for childhood diarrhoeas by retail pharmacists in Nigeria. Social Science & Medicine 1994;39(6):797-806.
        </p>
        <p>Instituto Nacional de Estadistica (INE), Ministerio de Salud Publica y Asistencia Social (MSPAS) Ciudad de Guatemala, Macro International Inc. Encuesta Nacional de Salud Materno Infantil 1998-1999. Calverton, MD: Macro International; 1999.
            Available from: http://www.measuredhs.com/pubs/pdf/FR107/FR107.pdf.
        </p>
        <p>Chakrapani V, Kershaw T, Shunmugam M, et al. Prevalence of and barriers to dual-contraceptive methods use among married men and women living with HIV in India. Infectious Diseases In Obstetrics and Gynecology 2011;2011:376-432.
        </p>
        <p>Chin-Quee D, et al. Women’s ability to self-screen for contraindications to combined oral contraceptive pills in Tanzanian drug shops. Int J Gynecol Obstet 2013.
        </p>
        <p>Chuc NT, Larsson M, Falkenberg T, et al. Management of childhood acute respiratory infections at private pharmacies in Vietnam. Ann Pharmacother 2001;16:152-60.</p>
    </div>
</section>
