<section class="briefs-hero">
  <div class="briefs-hero__top" style="background-image: url(https://placeimg.com/1000/600/people);">
    <!-- <div class="briefs-hero__image">
      {# include 'base-landscape-image' #}
    </div> -->
    <div class="briefs-hero__caption icon--image">
       A community health worker in Togo with his lockbox of medication and supplies.</div>
  </div>
  <div class="briefs-hero__meta">
    <div class="l-grid l-grid--briefs-hero">
      <div class="l-grid__cell">
        <div class="briefs-hero__button"><button class="button button--download icon--download" name="button">References</button></div>
      </div>
      <div class="l-grid__cell">
        <div class="briefs-hero__menu icon--pdf">
          <p>Download:</p>
          <ul class="nav nav--briefs-language">
            <li class="nav__item"><a href="#" class="nav__link">EN</a></li>
            <li class="nav__item"><a href="#" class="nav__link">FR</a></li>
            <li class="nav__item"><a href="#" class="nav__link">ES</a></li>
            <li class="nav__item"><a href="#" class="nav__link">PT</a></li>
          </ul>
        </div>
      </div>
      <div class="l-grid__cell">
        <div class="briefs-hero__related "><a href="#" class="icon--web">Related Webinar</a></div>
      </div>
    </div>

  </div>
</section>
