<div class="conversation">
    <div class="l-constrain">
        <div class="conversation__content">
            <div class="l-grid l-grid--conversation">
                <div class="l-grid__cell">
                    <div class="conversation__cell conversation__image">
                      {% include 'base-social-image' %}
                      <!-- <img src="../../images/social-bubble.png" alt=""> -->
                    </div>
                </div>
                <div class="l-grid__cell">
                    <h2 class="conversation__cell conversation__cta">
                        Join the Conversation on Twitter.
                    </h2>
                </div>
                <div class="l-grid__cell">
                    <div class="conversation__cell conversation__twitter">
                      <div style="min-height:421px; background-color:#FFF;padding: 0 1rem;">#HIPs4FP
                        {% include 'base-card-image' %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
