<div class="facetwp-facet facetwp-facet-facet_brief_categories facetwp-type-fselect" data-name="facet_brief_categories" data-type="fselect">
    <div class="fs-wrap" tabindex="0">
        <div class="fs-label-wrap">
            <div class="fs-label">ALL</div>
            <span class="fs-arrow"></span>
        </div>
        <div class="fs-dropdown hidden">
            <div class="fs-search"><input type="search" placeholder="Search"></div>
            <div class="fs-options">
                <div class="fs-option selected g0" data-value="" data-index="0">
                    <span class="fs-checkbox">
                        <i></i>
                    </span>
                    <div class="fs-option-label">ALL</div>
                </div>
                <div class="fs-option g0" data-value="enabling-environment" data-index="1">
                    <span class="fs-checkbox">
                        <i></i>
                    </span>
                    <div class="fs-option-label">Enabling Environment (1)</div>
                </div>
                <div class="fs-option g0" data-value="hip-enhancement" data-index="2">
                    <span class="fs-checkbox">
                        <i></i>
                    </span>
                    <div class="fs-option-label">HIP Enhancement (1)</div>
                </div>
                <div class="fs-option g0" data-value="service-delivery" data-index="3">
                    <span class="fs-checkbox">
                        <i></i>
                    </span>
                    <div class="fs-option-label">Service Delivery (1)</div>
                </div>
                <div class="fs-option g0" data-value="social-behavior-change" data-index="4">
                    <span class="fs-checkbox">
                        <i></i>
                    </span>
                    <div class="fs-option-label">Social and Behavior Change (1)</div>
                </div>
            </div>
        </div>
        <select class="facetwp-dropdown hidden ready">
            <option value="">ALL</option>
            <option value="enabling-environment">Enabling Environment (1)</option>
            <option value="hip-enhancement">HIP Enhancement (1)</option>
            <option value="service-delivery">Service Delivery (1)</option>
            <option value="social-behavior-change">Social and Behavior Change (1)</option>
        </select>
    </div>
</div>
