<div class="facets">
    <div class="l-constrain">
        <div class="l-grid l-grid--facets">
            <div class="l-grid__cell">
                <div class="facets__col">
                    <div class="facets__heading">Category:</div>
                    {% include 'components-facets-select' %}
                </div>
            </div>
            <div class="l-grid__cell">
                <div class="facets__col">
                    <div class="facets__heading">Stage:</div>
                    {% include 'components-facets-select' %}
                </div>
            </div>
        </div>
    </div>
</div>
