<div class="hero">
    <div class="l-constrain">
        <div class="hero__meta">
            <div class="l-grid l-grid--vertical">
                <div class="l-grid__cell">
                    <h1 class="hero__title">
                        Creating the Greatest Impact
                    </h1>
                </div>
                <div class="l-grid__cell">
                    <div class="hero__description">
                        <p>
                            High Impact Practices (HIPs) are interventions that can maximize investments in family planning. This site offers information on effective service delivery or systems interventions that can be scaled up and institutionalized.
                        </p>
                        <p>
                            HIPs help programs focus resources for greatest impact.
                        </p>
                    </div>
                </div>
                <div class="l-grid__cell">
                    <div class="hero__link">
                      <a href="#">
                        <div class="hero__icon">Icon</div>
                      </a>
                      <p>Explore More</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
