<a class="item">
  <div class="item__top">
    {% include 'base-headshot-image' %}
  </div>
  <div class="item__bottom">
    <div class="item__title">Item Title. Lorem ipsum dolor sit.</div>
    <div class="item__description">Description, Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    <div class="item__organization">Organization. dolor sit amet, consectetur adipisicing.</div>
  </div>
</a>
