<a href="#" class="news-card">
    <div class="news-card__top" style="background-image:url('{{ img.card.src }}')">
      {# include 'base-portrait-image' #}
    </div>

    <div class="news-card__bottom">
      <div class="news-card__caption">{{ caption|default('Bringing family planning services to where people live and work.') }} </div>
    </div>
</a>
