<section class="paragraph">
  <div class="paragraph__title">{{paragraph_title|default('Paragraph Title')}}</div>
  <div class="paragraph__body">{{paragraph_body|default('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum enim quaerat quibusdam molestias ratione incidunt culpa! At, nam aliquid. Autem, incidunt, tempore! Veritatis praesentium necessitatibus, deleniti dicta accusantium voluptatum, eum animi, velit nihil quidem distinctio voluptatibus ad mollitia amet iste.')}}</div>
</section>
