<section class="quote">
  <div class="quote__body">“…CHWs provide a critical link between their
communities and the health and social services system.”</div>
  <div class="quote__cite">-Bhutta et al., 2010</div>
</section>
