<section class="section section--grey section--3up">
  <div class="l-constrain">

    <div class="section__title"><h4>Featured HIPs</h4></div>

    <div class="section__content">
      <div class="l-grid l-grid--three-cards l-grid--cards">
        <div class="l-grid__cell">{% include 'components-briefs-card' %}</div>
        <div class="l-grid__cell">{% include 'components-briefs-card'
          with {
            "topic": "Social & Behavioral Change",
            "header": "Family Planning and Immunization Integration",
            "caption": "Bringing family planning services to where people live and work"
          }
        %}</div>
        <div class="l-grid__cell">{% include 'components-briefs-card' %}</div>
      </div>
    </div>

    <div class="section__footer">
      <button class="button">See all HIPs</button>
    </div>

  </div>
</section>
