<section class="section section--3up">
  <div class="l-constrain">

    <div class="section__title"><h3>Maximizing Impact</h3></div>

    <div class="section__content">
      <div class="l-grid l-grid--three-cards">
        <div class="l-grid__cell">{% include 'components-news-card' %}</div>
        <div class="l-grid__cell">{% include 'components-news-card'
          with {
            "caption": 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, dolorem nobis! Ipsum natus, magnam rem sit laudantium, laborum possimus repudiandae consequatur temporibus dolores neque, impedit autem dicta tempore deserunt voluptatem?'
          }
        %}</div>
        <div class="l-grid__cell">{% include 'components-news-card' %}</div>
      </div>
    </div>

  </div>
</section>
