<section class="section section--5up">
  <div class="l-constrain">

    <div class="section__title"><h5>Endorsing Organizations</h5></div>

    <div class="section__content">
      <div class="l-grid">
        <div class="l-grid__cell l-grid__cell--20">
          <div class="section__image">
            {% include 'base-logo-image' %}
          </div>
        </div>
        <div class="l-grid__cell l-grid__cell--20">
          <div class="section__image">
            {% include 'base-logo-image' %}
          </div>
        </div>
        <div class="l-grid__cell l-grid__cell--20">
          <div class="section__image">
            {% include 'base-logo-image' %}
          </div>
        </div>
        <div class="l-grid__cell l-grid__cell--20">
          <div class="section__image">
            {% include 'base-logo-image' %}
          </div>
        </div>
        <div class="l-grid__cell l-grid__cell--20">
          <div class="section__image">
            {% include 'base-logo-image' %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
