.l-grid {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.l-grid__cell {
  width: 100%;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    flex: 1;
  }
}

.l-grid__cell--20 {
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    flex: 0 0 20%;
  }
}

.l-grid__cell--25 {
  @include breakpoint(500px, $no-query: true) {
    flex: 0 0 50%;
  }
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    flex: 0 0 25%;
  }
}

.l-grid__cell--33 {
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    flex: 0 0 33.33333%;
  }
}

.l-grid__cell--50 {
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    flex: 0 0 50%;
  }
}

.l-grid__cell--66 {
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    flex: 0 0 66.66666%;
  }
}

.l-grid__cell--75 {
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    flex: 0 0 75%;
  }
}

.l-grid__cell--100 {
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    flex: 0 0 100%;
  }
}

.l-grid--gutters {
  margin: -1em 0 0 -1em;
  .l-grid__cell {
    padding: 1em 0 0 1em;
    .ie11 {
      padding: 0;
    }
  }
}

.l-grid--vertical {
  flex-direction: column;
  .l-grid__cell {
    flex: 1 0 auto;
  }
}

.l-grid--center {
  justify-content: center;
}

// ********* Custom Grids ******************

.l-grid--three-cards {
  align-items: stretch;
  margin: 0 -0.5rem;
  .l-grid__cell {
    display: flex;
    margin: 0 0.5rem rem(10px) 0.5rem;
    @include breakpoint(750px, $no-query: true) {
      margin-bottom: .5rem;
    }
  }
}

.l-grid--header {
  flex-flow: row nowrap;
  .header__top & {
    .l-grid__cell:last-child {
      max-width: 40px;
    }
  }
  .header__bottom & {
    flex-flow: row nowrap;
  }
}

.l-grid--footer {
  align-items: flex-start;

  .footer__bottom & {
    justify-content: space-around;
  }
  .l-grid__cell {
    text-align: center;
    @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
      text-align: left;
    }
  }
}

.l-grid--banner {
  align-items: flex-start;
}

.l-grid--conversation {

  @include breakpoint(950px, $no-query: true) {
    .l-grid__cell {
      text-align: center;
    }
    .l-grid__cell:nth-child(3) {
      align-self: flex-end;
      min-width: 500px;
    }
  }
}

.l-grid--briefs-hero {
  margin: 0;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    margin: 1rem 0;
  }
  .l-grid__cell {
    width: 100%;
    @include breakpoint(800px, $no-query: true) {
      flex: 1;
    }
  }
}

.l-grid--briefs-landing {
  align-items: stretch;
  margin: 2rem -2rem;
  justify-content: flex-start;
  .l-grid__cell {
    display: flex;
    margin: 1rem 0;
    @include breakpoint(750px, $no-query: true) {
      margin-bottom: 1rem;
    }
  }
}

.l-grid--facets {

}

.l-grid--row {
  align-items: flex-start;
}

.l-grid--landing-page {
  justify-content: flex-start;
  align-items: stretch;

}
