.l-header {
  display: flex;
  flex-wrap: wrap;
}

.l-header__top {
  display: none;
  flex: 1 0 auto;
  @include breakpoint(700px, $no-query: true) {
    display: block;
    width: 60%;
  }
}

.l-header__menu {
  display: flex;
  flex: 2 0 auto;
  @include breakpoint(700px, $no-query: true) {
    width: 40%;
  }
}

.l-header__logo {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  @include breakpoint(700px, $no-query: true) {
    width: 40%;

  }
}
.l-header__bottom {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  @include breakpoint(700px, $no-query: true) {
    width: 60%;
  }
}


// Mobile Header
@media (max-width: $bp-hide-mobile-menu) {
  .l-header__top {

  }

  .l-header__menu {

  }

  .l-header__logo {

  }

  .l-header__bottom {

  }
}
