.l-logo-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  @include breakpoint(700px, $no-query: true) {
    justify-content: center;
  }

  .l-logo-grid__cell {
    flex: 1 0 auto;
    padding: 5px;
    width: percentage(1/2);
    max-width: 50%;
    @include breakpoint(700px, $no-query: true) {
      width: percentage(1/5);
      max-width: 20%;
    }
  }
}
