// @file
// Styles for the sidebar layout.

.l-sidebars {
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    display: flex;
    flex-wrap: wrap;
  }
}

[class^="l-sidebars__"] {
  flex-grow: 1;
  flex-shrink: 1;
}

.l-sidebars__full {
  flex-basis: 100%;
}

.l-sidebars__main {
  flex-basis: 70%;
  overflow: hidden;
}

.l-sidebars__sidebar {
  flex-basis: 250px;
  padding: 0;
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    padding-left: rem(36px);
  }
}
