// @file
// Styles for the slat layout.

$bp-first: 600px;
$gutter: 1em;

.l-slat {
  @include clearfix;
  margin-bottom: 1.5rem;
}

.l-slat__media {
  margin: 0;
  padding: 0 0 1em;

  @include breakpoint($bp-first) {
    float: left;
    padding-right: $gutter;
  }

  &:empty {
    padding: 0;
  }

  a,
  img {
    display: block;
  }
}

.l-slat__content {
  display: table-cell;
  width: 10000px;
}

.l-slat--reversed {
  .l-slat__media {
    @include breakpoint($bp-first) {
      float: right;
      padding-left: $gutter;
      padding-right: 0;
    }
  }
}
