<!-- Provided by templates/post-formats/content.twig -->
<article class="post post--type-{{ post.type}} post--display-mode-full" id="post-{{ post.ID }}">
  <h2 class="post__title">{{ post.title }}</h2>
  <div class="post__meta">
    <div class="post__type">
      {{__('Result type: ')}}{{ post.post_type }}
    </div>
    <!-- <div class="author">{{ __('Authored by ', 'gesso') }}{{ post.author.display_name }}
    </div> -->
  </div>
  <div class="post__content">
    {{ post.content }}
  </div>
</article>
