{% for brief_section in post.get_field('brief_builder_container') %}
    {% if brief_section.acf_fc_layout == 'brief_section_header' %}
        <!-- SECTION HEADER -->
        <section class="briefs-section_title" id="menu-{{loop.index0}}">
            {% if brief_section.visible %}
              <h2 class="briefs-section_title__header">{{ __(brief_section.title) }}</h2>
            {% endif %}
        </section>
    {% elseif brief_section.acf_fc_layout == 'brief_quote' %}
        <!-- QUOTE -->
        <section class="quote">
            <div class="quote__body">{{ __(brief_section.quotation) }}</div>
            <div class="quote__cite">{{ brief_section.author}}
                {% if brief_section.source %}
                  <span> - {{ brief_section.source }}</span>
                {% endif %}
            </div>
        </section>
    {% elseif brief_section.acf_fc_layout == 'brief_image' %}
        <!-- FIGURE -->
        <section class="figure">
            {% if brief_section.label %}
                <div class="figure__label">{{ __(brief_section.label) }}</div>
            {% endif %}
            {% if brief_section.title %}
                <div class="figure__title">{{ __(brief_section.title) }}</div>
            {% endif %}
            <div class="figure__content"><img src="{{ brief_section.image }}" alt=""></div>
            {% if brief_section.caption %}
                <div class="figure__caption">
                  {{ __(brief_section.caption) }}
                </div>
            {% endif %}
        </section>
    {% elseif brief_section.acf_fc_layout == 'brief_callout' %}
        <!-- CALLOUT -->
        <section class="tools" id="Tools">
            {% if brief_section.title %}
              <div class="tools__title">{{ __(brief_section.title) }}</div>
            {% endif %}
            <div class="tools__content">{{ __(brief_section.text_area) }}</div>
        </section>
    {% elseif brief_section.acf_fc_layout == 'brief_paragraph' %}
        <!-- PARAGRAPH -->
        <section class="paragraph">
            {% if brief_section.title %}
                <div class="paragraph__title">{{ __(brief_section.title) }}</div>
            {% endif %}
            <div class="paragraph__body">{{ __(brief_section.body) }}</div>
        </section>
    {% elseif brief_section.acf_fc_layout == 'brief_table' %}
        <!-- TABLE -->
        <section class="briefs-table">
            {% if brief_section.label %}
                <div class="briefs-table__flag">{{ __(brief_section.label) }}</div>
            {% endif %}

            {% if brief_section.title %}
                <h2 class="briefs-table__title">{{ __(brief_section.title) }}</h2>
            {% endif %}

            <!-- Table Content -->
            {{ brief_section.table }}

            {% if brief_section.caption %}
                <h2 class="briefs-table__caption">{{ __(brief_section.caption) }}</h2>
            {% endif %}
        </section>
    {% endif %}
{% endfor %}
