<!-- BRIEF HERO -->
<section class="briefs-hero">

  <div class="briefs-hero__top" style="background-image: url({{ post.thumbnail.src }});">
    {% if post.get_field('brief_hero_caption') %}
      <div class="briefs-hero__caption icon--image">
        {{ post.get_field('brief_hero_caption') }}
      </div>
    {% endif %}
  </div>

  <div class="briefs-hero__meta">
    <div class="l-grid l-grid--briefs-hero">
      {% if post.get_field('reference_attachment') %}
        <div class="l-grid__cell">
            <div class="briefs-hero__button">
              <a target="_blank" href="{{ post.get_field('reference_attachment')  }}">
                <button class="button button--download icon--pdf" name="button">References</button>
              </a>
            </div>
        </div>
      {% endif %}
      {% if post.get_field('pdf_attachment_container') %}
        <div class="l-grid__cell">
          <div class="briefs-hero__menu">
            <p>{{ __('Download')}}:</p>
            <ul class="nav nav--briefs-language">
              {% for pdf in post.get_field('pdf_attachment_container') %}
                <li class="nav__item">
                  <a target="_blank" href="{{ pdf.brief_attachment_pdf }}" class="nav__link"><button class="button button--pdf">{{ pdf.brief_attachment_language }}</button></a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
      {% if post.get_field('brief_webinar') %}
        <div class="l-grid__cell">
            <div class="briefs-hero__related">
              <a href="{{ post.brief_webinar }}" target="_blank">
                <button class="button button--download icon--web" type="button" name="button">View Webinar</button>
              </a>
            </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>
