<div class="conversation">
  <div class="l-constrain">
    <div class="conversation__content">
      <div class="l-grid l-grid--conversation">
        <div class="l-grid__cell">
          <div class="conversation__cell conversation__image">
            <img src="{{ theme.link }}/images/bg/social-bubble.png" alt="">
          </div>
        </div>
        <div class="l-grid__cell">
          <h3 class="conversation__cell conversation__cta">
            {{ post.get_field('homepage_conversation_title') }}
          </h3>
        </div>
        <div class="l-grid__cell">
          <div class="conversation__cell conversation__twitter">
            {% include 'templates/components/twitter.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
