<div class="file-repeater">
    {% for file in post.get_field('file_repeater') %}
        <!-- <pre>{{ file | print_r }}</pre> -->

        {% if post.file_repeater_title %}
            <h3 class="file-repeater__header">
                {{ post.file_repeater_title }}
            </h3>
        {% endif %}

        <div class="l-grid l-grid--file-repeater">
            <div class="l-grid__cell l-grid__cell--33">
              <!-- BRIEFS CARD -->
                <a href="{{ file.file }}" target="_blank" class="briefs-card">
                    <div class="briefs-card__top" style="background-image:url({{ file.thumbnail }})"></div>
                    <div class="briefs-card__bottom">
                      {% if file.title %}
                        <div class="briefs-card__topic is-service-delivery ">
                            <div class="briefs-card__topic-icon"></div>
                            <div class="briefs-card__topic-text">
                                {{ file.title }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="briefs-card__meta">
                            <div class="briefs-card__header">Download</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
