<div class="hero" style="background-image:url({{post.get_field('homepage_hero_image')}});">
    <div class="l-constrain">
        <div class="hero__meta">
            <div class="l-grid l-grid--vertical">
                <div class="l-grid__cell">
                    <h1 class="hero__title">
                        {{ post.get_field('homepage_hero_title') }}
                    </h1>
                </div>
                <div class="l-grid__cell">
                    <div class="hero__description">
                        <p>{{ post.get_field('homepage_hero_description') }}</p>
                    </div>
                </div>
                <div class="l-grid__cell">
                    <div class="hero__link">
                      <a href="#homepage">
                        <div class="hero__icon">Icon</div>
                      </a>
                      <p>{{ post.get_field('homepage_hero_button_text') }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
