{% for post in posts %}
    <!-- Provided by templates/componenets/loop.twig -->
    <article class="post post--type-{{ post.type}} post--display-mode-teaser" id="post-{{ post.ID }}">
      <div class="l-slat">
        <div class="l-slat__content">
          <h2 class="post__title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
          <div class="post__meta">
            <div class="post__date">{{ post.date }}</div>
            <div class="post__type"><span>{{ pll__('Result type:') }} </span>{{ post.post_type }}</div>
            <div>{{ function('edit_post_link', 'Edit', '<span class="edit-link">', '</span>', post.id) }}</div>
          </div>
        </div>
      </div>
      {{ function('gesso_link_pages') }}
    </article>
{% else %}
    <section class="section">
      <p>{{ pll__('Sorry, nothing to display.')}}</p>
    </section>
{% endfor %}
