{% for row in post.get_field('page_builder') %}
    <div class="row">

        {% if row.header %}
            <h3 class="row__header">
                {{ row.header}}
            </h3>
        {% endif %}

        <div class="l-grid l-grid--row">
            <div class="l-grid__cell">
                <div class="row__column">
                    {{ row.column }}
                </div>
            </div>

            {% if row.column_select == 2 %}
                <div class="l-grid__cell {% if row.column_2_width %}l-grid__cell--33{% endif %}">
                    <div class="row__column row__column--2">
                        {{ row.column_2 }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
