<div class="searchbox">
  <a href="#" class="searchbox__link"></a>
  <div class="searchbox__dropdown">
    <form class="search-form" method="get" action="{{ site.url }}" role="search">
      <label for="s" class="search-form__label visually-hidden">Search</label>
      <input class="search-form__input" type="search" name="s" placeholder="{{ pll__('To search, type and hit enter.') }}" >
      <button class="button search-form__button" type="submit" role="button">{{ pll__('Search') }}</button>
    </form>
  </div>
</div>
