<nav class="block  block--social-menu" role="navigation">
  <h4 class="block__title">{{ pll__('Contact') }}</h4>
  <ul class="nav nav--social">
    <!-- <li class="nav__item"><a class="nav__link nav__link--facebook" href="#">Facebook</a></li> -->
    <!-- <li class="nav__item"><a class="nav__link nav__link--linkedin" href="#">LinkedIn</a></li> -->
    <li class="nav__item"><a class="nav__link nav__link--twitter" href="https://twitter.com/search?q=%23HIPs4FP" target="_blank">Twitter</a></li>
    <li class="nav__item"><a class="nav__link nav__link--youtube" href="https://www.youtube.com/watch?v=VVqbB_9m2Fc" target="_blank">YouTube</a></li>
  </ul>
</nav>
