<a class="twitter-timeline" href="https://twitter.com/hashtag/HIPs4FP" data-widget-id="849742729357783040">#HIPs4FP Tweets</a>
<script>
  !function(d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0],
      p = /^http:/.test(d.location)
        ? 'http'
        : 'https';
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.async=true;
      js.src = p + "://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, "script", "twitter-wjs");
</script>
