<footer class="footer" role="contentinfo">
  <div class="footer__top">
    <div class="l-constrain">
      <div class="l-grid l-grid--footer">
        <div class="l-grid__cell l-grid__cell--50">
          <div class="footer__logo">
            {# include "base-thumbnail-image" #}
            <div class="logo--usaid">USAID Logo</div>
          </div>
          <div class="footer__description">
            This website is made possible by the support of the American People through USAID's Office of Population and Reproductive Health, Bureau for Global Health, under Cooperative Agreement #GPO-A-00-08-00006-00.
          </div>
        </div>
        <div class="l-grid__cell">
          {% include "components-quicklink-menu" %}
        </div>
        <div class="l-grid__cell">
          {% include "components-social-menu" %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="l-constrain">
      <div class="l-grid l-grid--footer">
        <div class="l-grid__cell">
          <p>© 2017 Johns Hopkins University, All Rights Reserved</p>
        </div>
        <div class="l-grid__cell">
          {% include "components-footer-menu" %}
        </div>
      </div>
    </div>
  </div>
</footer>
