<header class="header" role="banner">
  <div class="header__top">
    <div class="l-constrain l-constrain--header">
      <div class="l-grid l-grid--header">
        <div class="l-grid__cell l-grid__cell--50"></div>
        <div class="l-grid__cell">{% include 'components-primary-menu' %}</div>
        <div class="l-grid__cell">{% include 'components-language-menu' %}</div>
        <div class="l-grid__cell">{% include 'components-searchbox' %}</div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="l-constrain l-constrain--header">
      <div class="l-grid l-grid--header">
        <div class="l-grid__cell"><div class="logo">HIP Logo</div></div>
        <div class="l-grid__cell l-grid__cell--50">{% include 'components-secondary-menu' %}</div>
      </div>
    </div>
  </div>
</header>
