// @file
//Icon Helpers

@mixin icon-helper($image, $height, $width, $align: left) {
    &:before {
      background-image: url('../images/bg/icon--#{$image}.png');
      background-image: linear-gradient(transparent, transparent), url('../images/bg/icon--#{$image}.svg');
      background-repeat: no-repeat;
      content: "";
      float: $align;
      margin-right: 5px;
      position: relative;
      overflow: hidden;
      height: $height;
      width: $width;
    }
}
