// @file
// Styles for secondary buttons.

.button--download {
  background-color: get-color(blue,1);
  border-radius: 0;
  color: #fff;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;

  &:focus,
  &:hover {
    background-color: get-color(blue,0);
    color: #fff;
  }

  &:active {
    background-color: get-color(blue,0);
    color: #fff;
  }
}
