// @file
// Styles for secondary buttons.

.button--pdf {
  background-color: #008ead;
  border-radius: 0;
  color: #FFF;
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  padding: 1rem;
  white-space: nowrap;

  &:focus,
  &:hover {
    background-color: get-color(blue,0);
    color: #fff;
  }

  &:active {
    background-color: get-color(blue,0);
    color: #fff;
  }
}
