<video width="450" height="282" controls="">
  <source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4">
  <source src="http://clips.vorwaerts-gmbh.de/VfE.webm" type="video/webm">
  <source src="http://clips.vorwaerts-gmbh.de/VfE.ogv" type="video/ogg">
  <!-- <img src="" width="800" height="450" alt="Big Buck Bunny" title="No video playback capabilities, please download"> -->
</video>
