<button class="button">Button</button>
<a href="#" class="button">Button Link</a>
<button class="button" disabled>Disabled Button</button>
<button class="button button--download icon--download">References</button>
