{% extends "base.twig" %}

{% block content %}
  {% block hero %}{% endblock %}
  <div class="l-constrain">
    <div class="l-sidebars">
      <div class="l-sidebars__full">
        {% block fullwidth %}{% endblock %}
      </div>
      <div class="l-sidebars__main">
        {% block main %}{% endblock %}
      </div>

      <div class="l-sidebars__sidebar">
        <div class="l-sidebars__sidebar-inner">
          {% block sidebar %}
            {{ function('get_sidebar') }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
